Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: nav footer event label
  src/app/components/nav-footer/nav-footer.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: GA events
  src/app/components/earthometer/earthometer-actions.js
  src/app/components/nav-footer/nav-footer.js
  src/app/pages/home/home.js
  src/app/pages/regional/regional-actions.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Add barchart component in global page
  src/app/pages/global/barchart/barchart-component.jsx
  src/app/pages/global/barchart/barchart-styles.scss
  src/app/pages/global/barchart/barchart.js
  src/app/pages/global/global-component.jsx
  src/app/styles/ui.scss
  src/app/styles/variables.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix sidebar side effects
  src/app/components/sidebar/sidebar-component.jsx
  src/app/components/sidebar/sidebar-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

ads flashing to slider background
  src/app/components/earthometer/earthometer-component.jsx
  src/app/components/earthometer/earthometer-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

[fix] jenkinsfile deployment fix
  Jenkinsfile
Due: none

remove post install command
  package.json
Due: none

fix: includes analytics id
  Dockerfile
Due: none

add WIP knob component
  src/app/components/knob/knob-component.jsx
  src/app/components/knob/knob-styles.scss
  src/app/components/knob/knob-utils.js
  src/app/components/knob/knob.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

wraps knob in earthometer component
  src/app/components/earthometer-knob/components/knob/knob-component.jsx
  src/app/components/earthometer-knob/components/knob/knob-styles.scss
  src/app/components/earthometer-knob/components/knob/knob-utils.js
  src/app/components/earthometer-knob/components/knob/knob.js
  src/app/components/earthometer-knob/earthometer-actions.js
  src/app/components/earthometer-knob/earthometer-component.jsx
  src/app/components/earthometer-knob/earthometer-knob.js
  src/app/components/earthometer-knob/earthometer-reducers.js
  src/app/components/earthometer-knob/earthometer-styles.scss
  src/app/components/earthometer-knob/initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

mount new earthometer in global page
  src/app/pages/global/global-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

click event in slider instead of document
  src/app/components/earthometer-knob/components/knob/knob.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix PR comments
  src/app/components/earthometer-knob/components/knob/knob-utils.js
  src/app/components/earthometer-knob/components/knob/knob.js
  src/app/components/earthometer-knob/earthometer-reducers.js
  src/app/utils/utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

deactivate birds
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: restyles homepage
  src/app/components/nav-footer/nav-footer-component.jsx
  src/app/pages/home/home-component.jsx
  src/app/pages/home/home-nav-footer.scss
  src/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: includes video placeholder
  public/img/home-video-placeholder.png
  src/app/pages/home/home-component.jsx
  src/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

split state into files
  src/app/pages/regional/regional-initial-state.js
  src/app/pages/regional/regional-initial-state/regional-birds.js
  src/app/pages/regional/regional-initial-state/regional-charts.js
  src/app/pages/regional/regional-initial-state/regional-initial-state.js
  src/app/pages/regional/regional-initial-state/regional-layers.js
  src/app/pages/regional/regional-initial-state/regional-legends.js
  src/app/pages/regional/regional-initial-state/regional-sections.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add styling for “fake toggles”
  src/app/styles/ui.scss
Due: stylelint --syntax=scss ./src/**/*.scss

add reselect dependency
  package.json
  yarn.lock
Due: none

add combined logic to regional section
  src/app/pages/regional/regional-actions.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-reducers.js
  src/app/pages/regional/regional-selectors.js
  src/app/pages/regional/regional.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add uuid to explorable components keys for safety
  src/app/components/explorable/explorable.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fiz hardcoded legend title for gradients
  src/app/components/legend/legend-layers/legend-layers-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: creates new bar-chart component
  package.json
  src/app/components/barchart/barchart-component.jsx
  src/app/components/barchart/barchart-styles.scss
  src/app/components/barchart/barchart.js
  src/app/pages/global/global-component.jsx
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

prevent changes when clicking selected toggle
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: refactors global initial state + removes spiders
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global-initial-state/global-initial-state.js
  src/app/pages/global/global-initial-state/global-layers-initial-state.js
  src/app/pages/global/global-initial-state/global-legends-initial-state.js
  src/app/pages/global/global-initial-state/global-sections-initial-state.js
  src/app/pages/global/global.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: prepares data fetch for barcharts
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-initial-state/global-charts-initial-state.js
  src/app/pages/global/global-initial-state/global-initial-state.js
  src/app/pages/global/global-reducers.js
  src/app/pages/global/global.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

WIP filtering species in sidepopup
  public/img/billboard/dot-hover.png
  public/img/billboard/dot.png
  src/app/components/side-popup/side-popup-component.jsx
  src/app/components/side-popup/side-popup-styles.scss
  src/app/components/side-popup/side-popup.js
  src/app/pages/map/map-component.jsx
  src/app/pages/map/map.js
  src/app/pages/regional/regional-actions.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state/regional-billboards.js
  src/app/pages/regional/regional-initial-state/regional-initial-state.js
  src/app/pages/regional/regional-initial-state/regional-layers.js
  src/app/pages/regional/regional-initial-state/regional-popups.js
  src/app/pages/regional/regional-initial-state/regional-sections.js
  src/app/pages/regional/regional-reducers.js
  src/app/pages/regional/regional.js
  src/app/utils/redux.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add filtering species by tags
  src/app/components/side-popup/side-popup-component.jsx
  src/app/components/side-popup/side-popup-styles.scss
  src/app/pages/regional/regional-actions.js
  src/app/pages/regional/regional-initial-state/regional-initial-state.js
  src/app/pages/regional/regional-reducers.js
  src/app/styles/global.scss
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: connects bar charts to data
  src/app/components/barchart/barchart-component.jsx
  src/app/components/barchart/barchart-styles.scss
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state/global-charts-initial-state.js
  src/app/pages/global/global-reducers.js
  src/app/pages/global/global.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: updates old barchart
  src/app/pages/global/barchart/barchart-component.jsx
  src/app/pages/global/global-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: barchart ready to rumble
  package.json
  src/app/pages/global/barchart/barchart-component.jsx
  src/app/pages/global/barchart/barchart-styles.scss
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state/global-charts-initial-state.js
  src/app/pages/global/global.js
  src/app/styles/ui.scss
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: adds correct domain
  src/app/pages/global/barchart/barchart-component.jsx
  src/app/pages/global/barchart/barchart-styles.scss
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state/global-charts-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: includes legends
  src/app/pages/global/barchart/barchart-component.jsx
  src/app/pages/global/barchart/barchart-styles.scss
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state/global-charts-initial-state.js
  src/app/styles/ui.scss
  src/app/utils/utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: updates the nav footer styles
  src/app/components/nav-footer/nav-footer-component.jsx
  src/app/components/nav-footer/nav-footer-styles.scss
  src/app/pages/home/home-nav-footer.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: aligns center
  src/app/components/nav-footer/nav-footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

moved close button out
  src/app/components/close-button/close-button-component.jsx
  src/app/components/close-button/close-button-styles.scss
  src/app/components/close-button/close-button.js
  src/app/components/pop-up/pop-up-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix margins for proper slide change
  src/app/styles/ui.scss
Due: stylelint --syntax=scss ./src/**/*.scss

add dots only on third block
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

lock scrol when sidepopup is open
  src/app/components/sidebar/sidebar-styles.scss
  src/app/components/sidebar/sidebar.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote --semi false: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
