Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --semi false", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

wierd router missfunction fix
  src/app/layout/layout.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

richness data to test
  public/img/richness-data.jpg
Due: none

fix missing section info
  src/app/components/explorable/explorable.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add earthometer display only mode
  src/app/components/earthometer/earthometer-component.jsx
  src/app/pages/local/local-component.jsx
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: adds new texts and updates styles on home page
  src/app/components/header/header-styles.scss
  src/app/pages/home/home-component.jsx
  src/app/pages/home/home-styles.scss
  src/app/pages/home/zoom-theme.scss
  src/app/styles/variables.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

logic fix in the maps
  src/app/components/cesium/map/map-component.jsx
  src/app/components/cesium/map/map.js
  src/app/pages/map/initial-state.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

polish regional section
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state.js
  src/app/pages/regional/regional.js
  src/app/providers/section/section-reducers.js
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: adds friendlier development sourcemap
  config/development.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: creates new legend component and container
  src/app/components/header/header-styles.scss
  src/app/components/legend/legend-component.js
  src/app/components/legend/legend-styles.scss
  src/app/components/legend/legend.js
  src/app/styles/variables.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: use var in color white + update sourcemap
  config/development.js
  src/app/styles/pages.scss
  src/app/styles/themes/dropdown.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: places legend in correct position
  src/app/components/legend/legend.js
  src/app/layout/layout-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: arrow direction
  src/app/components/legend/legend-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix zoom levels and add rotation
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_mx.jpg
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_my.jpg
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_mz.jpg
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_px.jpg
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_py.jpg
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_pz.jpg
  public/lib/Cesium/Assets/Textures/_SkyBox/tycho2t3_80_mx.jpg
  public/lib/Cesium/Assets/Textures/_SkyBox/tycho2t3_80_my.jpg
  public/lib/Cesium/Assets/Textures/_SkyBox/tycho2t3_80_mz.jpg
  public/lib/Cesium/Assets/Textures/_SkyBox/tycho2t3_80_px.jpg
  public/lib/Cesium/Assets/Textures/_SkyBox/tycho2t3_80_py.jpg
  public/lib/Cesium/Assets/Textures/_SkyBox/tycho2t3_80_pz.jpg
  src/app/components/cesium/map/map.js
  src/app/data/zoom-levels.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: adds video and event handler to intro page
  src/app/pages/intro/intro-component.jsx
  src/app/pages/intro/intro.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

reverse lat long
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_mx.jpg
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_my.jpg
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_mz.jpg
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_px.jpg
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_py.jpg
  public/lib/Cesium/Assets/Textures/SkyBox/tycho2t3_80_pz.jpg
  public/lib/Cesium/Assets/Textures/__SkyBox/tycho2t3_80_mx.jpg
  public/lib/Cesium/Assets/Textures/__SkyBox/tycho2t3_80_my.jpg
  public/lib/Cesium/Assets/Textures/__SkyBox/tycho2t3_80_mz.jpg
  public/lib/Cesium/Assets/Textures/__SkyBox/tycho2t3_80_px.jpg
  public/lib/Cesium/Assets/Textures/__SkyBox/tycho2t3_80_py.jpg
  public/lib/Cesium/Assets/Textures/__SkyBox/tycho2t3_80_pz.jpg
  src/app/components/cesium/map/map.js
  src/app/data/zoom-levels.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: makes video full screen
  src/app/pages/intro/intro-component.jsx
  src/app/pages/intro/intro-styles.scss
  src/app/pages/intro/intro.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

rm logging
  src/app/components/cesium/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: includes nav footer basic behaviour
  src/app/components/nav-footer/nav-footer-component.jsx
  src/app/components/nav-footer/nav-footer-styles.scss
  src/app/components/nav-footer/nav-footer.js
  src/app/pages/global/global-component.jsx
  src/app/pages/local/local-component.jsx
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: hover states on buttons
  src/app/components/nav-footer/nav-footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

WIP layer logic
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state.js
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix rotating logic
  src/app/components/cesium/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: popup styling
  src/app/components/pop-up/pop-up-component.jsx
  src/app/components/pop-up/pop-up-styles.scss
  src/app/components/pop-up/pop-up.js
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

refactor/simplify per-region logic
  src/app/components/explorable/explorable.js
  src/app/pages/map/map-actions.js
  src/app/pages/map/map-reducers.js
  src/app/pages/map/map-utils.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state.js
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: removes extra font family
  src/app/components/nav-footer/nav-footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

feat: adds basic behaviour to pop-up
  src/app/components/pop-up/pop-up-component.jsx
  src/app/components/pop-up/pop-up-styles.scss
  src/app/components/pop-up/pop-up.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: includes pop-up text-content component
  src/app/components/pop-up/pop-up-component.jsx
  src/app/components/pop-up/pop-up-styles.scss
  src/app/components/pop-up/pop-up.js
  src/app/components/pop-up/text-content/text-content-component.jsx
  src/app/components/pop-up/text-content/text-content-styles.scss
  src/app/components/pop-up/text-content/text-content.js
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: text-content styles
  src/app/components/pop-up/pop-up-styles.scss
  src/app/components/pop-up/text-content/text-content-component.jsx
  src/app/components/pop-up/text-content/text-content-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: makes pop-up unmount on close
  src/app/components/pop-up/pop-up-component.jsx
  src/app/components/pop-up/pop-up-styles.scss
  src/app/components/pop-up/pop-up.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: adds background prop to text-content
  src/app/components/pop-up/text-content/text-content-component.jsx
  src/app/components/pop-up/text-content/text-content-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: video-content component ready to rumble
  src/app/components/pop-up/video-content/video-content-component.jsx
  src/app/components/pop-up/video-content/video-content-styles.scss
  src/app/components/pop-up/video-content/video-content.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

mock: quick dummy content for pop-up
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: set separator margin on text-content
  src/app/components/pop-up/text-content/text-content-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: refactor close button into new component and adds theme
  src/app/components/pop-up/borderless-close-button-theme.scss
  src/app/components/pop-up/close-button/close-button-component.jsx
  src/app/components/pop-up/close-button/close-button-styles.scss
  src/app/components/pop-up/image-content/image-content-component.js
  src/app/components/pop-up/image-content/image-content-styles.scss
  src/app/components/pop-up/image-content/image-content.js
  src/app/components/pop-up/pop-up-component.jsx
  src/app/components/pop-up/pop-up-styles.scss
  src/app/components/pop-up/pop-up.js
  src/app/components/pop-up/turquoise-close-button-theme.scss
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP layer structure
  src/app/components/explorable/explorable.js
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: replaces sidebar image content with full screen image content
  src/app/components/pop-up/borderless-close-button-theme.scss
  src/app/components/pop-up/image-content/image-content-component.js
  src/app/components/pop-up/image-content/image-content-styles.scss
  src/app/components/pop-up/pop-up-component.jsx
  src/app/components/pop-up/text-content/text-content-styles.scss
  src/app/components/pop-up/turquoise-close-button-theme.scss
  src/app/components/pop-up/video-content/video-content-styles.scss
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add final text and placeholder interactors etc
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/linechart.jsx
  src/app/pages/global/shapes.jsx
  src/app/pages/global/spider.jsx
  src/app/pages/home/home-component.jsx
  src/app/pages/intro/intro-component.jsx
  src/app/pages/local/local-component.jsx
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix incomplete selector error
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix
