Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --print-width 120", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss"
}

Make check more redeable and concise
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Show sidebar when grid id and terrain mode
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/detail-view-styles.scss
  src/app/pages/root/detail-view/detail-view.js
  src/app/pages/root/legend/legend-selectors.js
  src/app/pages/root/map/map-selectors.js
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-selectors.js
  src/app/selectors/location-selectors.js
  src/app/utils/utils.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Fetch and redux module for cell detail
  .env.sample
  config/base.js
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/detail-view.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/root-selectors.js
  src/app/reducers.js
  src/app/redux-modules/categories/categories-thunks.js
  src/app/redux-modules/cell-detail/cell-detail-actions.js
  src/app/redux-modules/cell-detail/cell-detail-reducers.js
  src/app/redux-modules/cell-detail/cell-detail.js
  src/app/selectors/cell-detail-selectors.js
  src/app/selectors/location-selectors.js
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Show layers active counter
  src/app/pages/root/group-card-list/group-card-list-component.jsx
  src/app/pages/root/group-card-list/group-card-list-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Histogram chart
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/pages/root/detail-view/rarity-richness/histogram/histogram-component.jsx
  src/app/pages/root/detail-view/rarity-richness/histogram/histogram-styles.scss
  src/app/pages/root/detail-view/rarity-richness/histogram/histogram.js
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-styles.scss
  src/app/redux-modules/cell-detail/cell-detail-reducers.js
  src/app/redux-modules/species/species-reducers.js
  src/app/selectors/cell-detail-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Histogram colors and proptype fixes
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/pages/root/detail-view/progress-card/progress-card-styles.scss
  src/app/pages/root/detail-view/rarity-richness/histogram/histogram-component.jsx
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Species to watch layout and data fetch
  .lintstagedrc
  public/img/partners/mol-logo-white@2x.png
  src/app/pages/root/detail-view/detail-view-actions.js
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/detail-view.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-styles.scss
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-selectors.js
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-styles.scss
  src/app/pages/root/detail-view/species-to-watch/species-to-watch.js
  src/app/selectors/location-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Layout and components of the detail sidebar
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/detail-view-styles.scss
  src/app/pages/root/detail-view/detail-view.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/pages/root/detail-view/progress-card/progress-card-styles.scss
  src/app/pages/root/detail-view/progress-card/progress-card.js
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-styles.scss
  src/app/pages/root/detail-view/rarity-richness/rarity-richness.js
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-styles.scss
  src/app/pages/root/detail-view/species-to-watch/species-to-watch.js
  src/app/pages/root/group-card-list/group-card-list-styles.scss
  src/app/pages/root/root-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Request cellid species and render in sidebar
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-selectors.js
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-styles.scss
  src/app/pages/root/detail-view/species-to-watch/species-to-watch.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Show correct detail layers and select rarity richnes position
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/pages/root/detail-view/rarity-richness/histogram/histogram-component.jsx
  src/app/pages/root/detail-view/rarity-richness/histogram/histogram-styles.scss
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Species module and fetch
  src/app/data/iucn-list.js
  src/app/reducers.js
  src/app/redux-modules/species/species-actions.js
  src/app/redux-modules/species/species-reducers.js
  src/app/redux-modules/species/species.js
  src/app/selectors/species-selectors.js
  src/app/services/mol.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Close terrain mode and fix details
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/components/v2/map/map.js
  src/app/pages/root/detail-view/detail-view.js
  src/app/pages/root/legend/legend.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

updated layers
  data/layers/places_to_watch.json
  data/outputs/layers.csv
Due: none

Activate grid detail layers and show percentage wip
  src/app/components/v2/dataset-combo/dataset-combo-selectors.js
  src/app/components/v2/dataset-combo/dataset-combo.js
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/pages/root/categories-list/categories-list.js
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/pages/root/detail-view/progress-card/progress-card-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Fix style details
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-styles.scss
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-styles.scss
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

wip: render primitive geometries with cell_id
  .eslintrc.yml
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Hovering on grid cells
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Move to terrain on grid click
  src/app/components/v2/map/map.js
  src/app/components/v2/terrain/terrain-component.jsx
  src/app/components/v2/terrain/terrain.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Trying the terrain
  src/app/components/v2/terrain/terrain-component.jsx
  src/app/components/v2/terrain/terrain-styles.scss
  src/app/components/v2/terrain/terrain.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Make the grid reusable
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Center on location from toolbar
  src/app/pages/root/root-component.jsx
  src/app/pages/root/toolbar/toolbar-component.jsx
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Add some props types validation
  src/app/components/v2/map/map-component.jsx
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Consume new params from setTerrainModeView function on cesium map
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Update latLng check and fixed propType
  src/app/components/v2/map/map-component.jsx
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Render grids from layer spec
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
  src/app/pages/root/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Add camera offset and latLng to query on grid click
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Show terrestial grid by default with certain zoom level
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Fix grid on terrain
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/pages/root/map/map-component.jsx
  src/app/selectors/datasets-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Update check with lat long instead of coordinates
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix
