Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --semi false", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

lock scrol when sidepopup is open
  src/app/components/sidebar/sidebar-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

bring reginal popups in
  src/app/components/side-popup/side-popup-component.jsx
  src/app/components/side-popup/side-popup-styles.scss
  src/app/pages/regional/regional-initial-state/regional-initial-state.js
  src/app/pages/regional/regional-initial-state/regional-popups.js
  src/app/pages/regional/regional-initial-state/regional-sections.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

make reusable gradient sass function
  src/app/styles/pages.scss
  src/app/styles/variables.scss
Due: stylelint --syntax=scss ./src/**/*.scss

small spacing fixes
  src/app/pages/global/barchart/barchart-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

rename files && fix breaking mismatching type in global-charts
  src/app/pages/global/global-initial-state/global-charts.js
  src/app/pages/global/global-initial-state/global-initial-state.js
  src/app/pages/global/global-initial-state/global-layers.js
  src/app/pages/global/global-initial-state/global-legends.js
  src/app/pages/global/global-initial-state/global-sections.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: expecting array got object
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-initial-state/global-charts.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

keep href for UX purposes
  src/app/components/nav-footer/nav-footer-component.jsx
  src/app/components/nav-footer/nav-footer.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

remove globe rotating
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix cross-page navigation
  src/app/pages/global/global-component.jsx
  src/app/pages/home/home-component.jsx
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add tick event to map, hide billboards on zoom level
  src/app/components/cesium/billboard/billboard.jsx
  src/app/components/cesium/map/map.js
  src/app/data/zoom-levels.js
  src/app/pages/map/initial-state.js
  src/app/pages/map/map-actions.js
  src/app/pages/map/map-component.jsx
  src/app/pages/map/map-reducers.js
  src/app/pages/regional/regional-initial-state/regional-cards.js
  src/app/pages/regional/regional-initial-state/regional-initial-state.js
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add popup to thumbnails
  src/app/components/side-popup/side-popup-component.jsx
  src/app/pages/regional/regional-actions.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state/regional-initial-state.js
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fixes side-popup width issue; adds popups
  src/app/components/side-popup/side-popup-component.jsx
  src/app/components/side-popup/side-popup-styles.scss
  src/app/components/sidebar/sidebar-component.jsx
  src/app/components/sidebar/sidebar-styles.scss
  src/app/components/sidebar/sidebar.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

revert sharing sidebar styles
  src/app/components/side-popup/side-popup-component.jsx
  src/app/components/side-popup/side-popup-styles.scss
  src/app/components/sidebar/sidebar-component.jsx
  src/app/components/sidebar/sidebar-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

use redux-tools everywhere from now on
  package.json
  src/app/components/earthometer-knob/earthometer-actions.js
  src/app/components/earthometer/earthometer-actions.js
  src/app/components/earthometer/earthometer-component.jsx
  src/app/components/earthometer/earthometer-reducers.js
  src/app/components/earthometer/earthometer-styles.scss
  src/app/components/earthometer/earthometer.js
  src/app/components/earthometer/initial-state.js
  src/app/components/earthometer/slider-theme.scss
  src/app/components/pop-up/pop-up-actions.js
  src/app/components/sidebar/sidebar-actions.js
  src/app/components/zoom/zoom-actions.js
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-reducers.js
  src/app/pages/intro/intro-component.jsx
  src/app/pages/intro/intro-styles.scss
  src/app/pages/intro/intro.js
  src/app/pages/local/initial-state.js
  src/app/pages/local/local-component.jsx
  src/app/pages/local/local-reducers.js
  src/app/pages/local/local-styles.scss
  src/app/pages/local/local.js
  src/app/pages/map/map-actions.js
  src/app/pages/map/map-reducers.js
  src/app/pages/regional/regional-actions.js
  src/app/pages/regional/regional-reducers.js
  src/app/providers/analytics/analytics-actions.js
  src/app/providers/carto/carto-actions.js
  src/app/providers/section/section-actions.js
  src/app/providers/selectors/selectors-actions.js
  src/app/reducers.js
  src/app/routes.js
  src/app/utils/redux.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

connect dble toggle logic to layers
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state/global-layers.js
  src/app/pages/global/global-initial-state/global-sections.js
  src/app/pages/global/global-reducers.js
  src/app/pages/global/global-selectors.js
  src/app/pages/global/global.js
  src/app/pages/map/map-component.jsx
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

connect second global block layers
  src/app/components/dropdown/dropdown-component.jsx
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state/global-layers.js
  src/app/pages/global/global-initial-state/global-legends.js
  src/app/pages/global/global-initial-state/global-sections.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add human pressures legend definition
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/global/global-initial-state/global-legends.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add human pressure layer to page-global
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state/global-layers.js
  src/app/pages/global/global-initial-state/global-sections.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

WIP multi slider
  src/app/components/earthometer-knob/earthometer-actions.js
  src/app/components/earthometer-knob/earthometer-component.jsx
  src/app/components/earthometer-knob/earthometer-knob.js
  src/app/components/earthometer-knob/earthometer-reducers.js
  src/app/components/earthometer-knob/initial-state.js
  src/app/components/earthometer-multi/components/knob/knob-component.jsx
  src/app/components/earthometer-multi/components/knob/knob-styles.scss
  src/app/components/earthometer-multi/components/knob/knob-utils.js
  src/app/components/earthometer-multi/components/knob/knob.js
  src/app/components/earthometer-multi/earthometer-multi-actions.js
  src/app/components/earthometer-multi/earthometer-multi-component.jsx
  src/app/components/earthometer-multi/earthometer-multi-initial-state.js
  src/app/components/earthometer-multi/earthometer-multi-reducers.js
  src/app/components/earthometer-multi/earthometer-multi.js
  src/app/components/earthometer-multi/earthometer-styles.scss
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-reducers.js
  src/app/pages/global/global.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP earthometer multi
  src/app/components/earthometer-multi/earthometer-styles.scss
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add onClikOutside callbacl option to react clickedOutside HOC
  src/app/utils/react.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

hide ocean slider option
  src/app/components/earthometer-multi/earthometer-multi-component.jsx
  src/app/components/earthometer-multi/earthometer-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add conservation areas legend and changes opacity on zoom
  src/app/components/cesium/billboard/billboard.jsx
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/global/global-initial-state/global-legends.js
  src/app/pages/map/map-component.jsx
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state/regional-layers.js
  src/app/pages/regional/regional-initial-state/regional-legends.js
  src/app/pages/regional/regional-initial-state/regional-sections.js
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

change locator links to new structure
  src/app/components/locator/locator.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

reset camera on home
  src/app/data/zoom-levels.js
  src/app/pages/home/home-actions.js
  src/app/pages/home/home.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

make dropdown accept maps
  src/app/components/dropdown/dropdown-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

reorder seector section
  src/app/components/locator/locator.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add logos to partners
  src/app/components/logos/logos-component.jsx
  src/app/components/logos/logos-styles.scss
  src/app/components/logos/nav-footer-modal-content.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add explore page
  package.json
  src/app/pages/explore/explore-actions.js
  src/app/pages/explore/explore-component.jsx
  src/app/pages/explore/explore-initial-state.js
  src/app/pages/explore/explore-reducers.js
  src/app/pages/explore/explore.js
  src/app/routes.js
  src/app/utils/react.jsx
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add expand component
  src/app/pages/explore/components/expand/expand-component.jsx
  src/app/pages/explore/components/expand/expand-styles.scss
  src/app/pages/explore/components/expand/expand.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add toggle component
  src/app/pages/explore/components/toggle/toggle-component.jsx
  src/app/pages/explore/components/toggle/toggle-styles.scss
  src/app/pages/explore/components/toggle/toggle.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add opacity and tooltip
  package.json
  public/img/opacity.svg
  src/app/pages/explore/components/expand/expand-component.jsx
  src/app/pages/explore/components/expand/expand-styles.scss
  src/app/pages/explore/components/opacity/components/slider/slider-component.jsx
  src/app/pages/explore/components/opacity/components/slider/slider-styles.scss
  src/app/pages/explore/components/opacity/components/slider/slider.js
  src/app/pages/explore/components/opacity/opacity-component.jsx
  src/app/pages/explore/components/opacity/opacity-styles.scss
  src/app/pages/explore/components/opacity/opacity.js
  src/app/pages/explore/components/toggle/toggle-component.jsx
  src/app/pages/explore/components/toggle/toggle-styles.scss
  src/app/pages/explore/explore-actions.js
  src/app/pages/explore/explore-component.jsx
  src/app/pages/explore/explore-initial-state.js
  src/app/pages/explore/explore-reducers.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP info
  src/app/pages/explore/components/info/info-component.jsx
  src/app/pages/explore/components/info/info-styles.scss
  src/app/pages/explore/components/info/info.js
  src/app/pages/explore/components/opacity/opacity-component.jsx
  src/app/pages/explore/components/opacity/opacity-styles.scss
  src/app/pages/explore/components/row/row-component.jsx
  src/app/pages/explore/components/row/row-styles.scss
  src/app/pages/explore/components/row/row.js
  src/app/pages/explore/components/toggle/toggle-styles.scss
  src/app/pages/explore/explore-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix styles && refactor row
  src/app/pages/explore/components/info/info-component.jsx
  src/app/pages/explore/components/info/info-styles.scss
  src/app/pages/explore/components/opacity/opacity-component.jsx
  src/app/pages/explore/components/opacity/opacity-styles.scss
  src/app/pages/explore/components/row/row-component.jsx
  src/app/pages/explore/components/row/row-styles.scss
  src/app/pages/explore/explore-component.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

polish styles
  src/app/pages/explore/components/info/info-styles.scss
  src/app/pages/explore/components/opacity/opacity-styles.scss
  src/app/pages/explore/explore-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add toggle-oane component
  src/app/pages/explore/components/pane-toggle/pane-toggle-component.jsx
  src/app/pages/explore/components/pane-toggle/pane-toggle-styles.scss
  src/app/pages/explore/components/pane-toggle/pane-toggle.js
  src/app/pages/explore/explore-actions.js
  src/app/pages/explore/explore-component.jsx
  src/app/pages/explore/explore-initial-state.js
  src/app/pages/explore/explore-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP regional pane
  src/app/components/pane/components/expand/expand-component.jsx
  src/app/components/pane/components/expand/expand-styles.scss
  src/app/components/pane/components/expand/expand.js
  src/app/components/pane/components/info/info-component.jsx
  src/app/components/pane/components/info/info-styles.scss
  src/app/components/pane/components/info/info.js
  src/app/components/pane/components/opacity/components/slider/slider-component.jsx
  src/app/components/pane/components/opacity/components/slider/slider-styles.scss
  src/app/components/pane/components/opacity/components/slider/slider.js
  src/app/components/pane/components/opacity/opacity-component.jsx
  src/app/components/pane/components/opacity/opacity-styles.scss
  src/app/components/pane/components/opacity/opacity.js
  src/app/components/pane/components/pane-toggle/pane-toggle-component.jsx
  src/app/components/pane/components/pane-toggle/pane-toggle-styles.scss
  src/app/components/pane/components/pane-toggle/pane-toggle.js
  src/app/components/pane/components/row/row-component.jsx
  src/app/components/pane/components/row/row-styles.scss
  src/app/components/pane/components/row/row.js
  src/app/components/pane/components/toggle/toggle-component.jsx
  src/app/components/pane/components/toggle/toggle-styles.scss
  src/app/components/pane/components/toggle/toggle.js
  src/app/components/pane/pane-actions.js
  src/app/components/pane/pane-component.jsx
  src/app/components/pane/pane-initial-state.js
  src/app/components/pane/pane-reducers.js
  src/app/components/pane/pane-styles.scss
  src/app/components/pane/pane.js
  src/app/components/sidebar/components/button/button-component.jsx
  src/app/components/sidebar/components/button/button-styles.scss
  src/app/components/sidebar/components/button/button.js
  src/app/components/sidebar/components/pane-toggle/pane-toggle-component.jsx
  src/app/components/sidebar/components/pane-toggle/pane-toggle-styles.scss
  src/app/components/sidebar/components/pane-toggle/pane-toggle.js
  src/app/components/sidebar/sidebar-actions.js
  src/app/components/sidebar/sidebar-component.jsx
  src/app/components/sidebar/sidebar-initial-state.js
  src/app/components/sidebar/sidebar-reducers.js
  src/app/pages/regional/regional-initial-state/regional-layers.js
  src/app/reducers.js
  src/app/utils/utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
