Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --print-width 100", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss"
}

updated presentation for interactive layers
  data/layers/places_to_watch.json
  data/layers/protected-all.json
  data/layers/signed_pledges.json
  data/layers/stories.json
  data/outputs/layers.csv
Due: none

Change text from all taxa to all groups
  src/app/pages/root/detail-view/detail-view-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Adds a link to the mol logo that links to their website
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Adjust setMapLayers to new activeLayers URL format
  src/app/pages/root/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Updated places query
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

update places layer
  src/app/components/v2/map/places-layer/places-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Map tooltip
  src/app/components/v2/map-tooltip/map-tooltip-actions.js
  src/app/components/v2/map-tooltip/map-tooltip-component.jsx
  src/app/components/v2/map-tooltip/map-tooltip-selectors.js
  src/app/components/v2/map-tooltip/map-tooltip-styles.scss
  src/app/components/v2/map-tooltip/map-tooltip.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

small changes on detail view
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add double click functionality
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add event listeners to map
  src/app/components/v2/map-tooltip/map-tooltip-component.jsx
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add event listeners to map. if the linter lets me
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

remove tooltip on new selection
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

remove positioning buffer
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add Share Modal component
  package.json
  src/app/assets/icons/facebook.svg
  src/app/assets/icons/twitter.svg
  src/app/components/v2/modal-share/modal-share-actions.js
  src/app/components/v2/modal-share/modal-share-component.jsx
  src/app/components/v2/modal-share/modal-share-reducers.js
  src/app/components/v2/modal-share/modal-share-styles.scss
  src/app/components/v2/modal-share/modal-share.js
  src/app/pages/root/root-component.jsx
  src/app/pages/root/toolbar/toolbar.js
  src/app/reducers.js
  src/app/styles/variables.scss
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Update layers opacity
  src/app/components/v2/dataset-combo/dataset-combo.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add marker centering on screen buffer
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add guards
  src/app/components/v2/modal-share/modal-share-component.jsx
  src/app/components/v2/modal-share/modal-share.js
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix state not updating
  src/app/components/v2/modal-share/modal-share-component.jsx
  src/app/components/v2/modal-share/modal-share-reducers.js
  src/app/components/v2/modal-share/modal-share.js
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add active pseudoclass to copy button to show it's being copied
  src/app/components/v2/modal-share/modal-share-styles.scss
Due: stylelint --syntax=scss

Get rid of the warning on opening modal
  src/app/components/v2/modal-share/modal-share-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

removed some layers
  data/layers/protected-all-interact.json
  data/layers/protected-all.json
  data/outputs/layers.csv
Due: none

pledges layer bootstrapping
  src/app/components/v2/map/pledges-layer/pledges-layer.js
  src/app/reducers.js
  src/app/redux-modules/pledges/pledges-actions.js
  src/app/redux-modules/pledges/pledges-reducers.js
  src/app/redux-modules/pledges/pledges-thunks.js
  src/app/redux-modules/pledges/pledges.js
  src/app/router.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix embed
  src/app/components/v2/modal-share/modal-share-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

shows pledges on map
  src/app/pages/root/map/map-component.jsx
  src/app/redux-modules/pledges/pledges-reducers.js
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update styles to avoid linter warning
  src/app/components/v2/modal-share/modal-share-styles.scss
Due: stylelint --syntax=scss

change billboard
  public/img/pledges-cluster.png
  public/img/pledges-point.png
  src/app/components/v2/map/pledges-layer/pledges-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update conservation areas behaviour
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/pages/root/detail-view/progress-card/progressbar-disabled-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Display grid on terrain
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Clean previous grid
  src/app/components/v2/map/map.js
  src/app/pages/root/detail-view/detail-view.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Updated share modal to avoid console errors
  src/app/components/v2/modal-share/modal-share-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

show cluster, point, and labels correctly
  src/app/components/v2/map/pledges-layer/pledges-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

adds ability to hide layer
  src/app/components/v2/map/pledges-layer/pledges-layer.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Change title to 'Species data coming soon' if there is no species data in landscape mode
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update hover and click interactions
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fixes the flyToCoordinates to adjust to the new x,y,z format without changing the API. Sets a default in case coords are missing
  src/app/pages/root/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

update layers
  data/layers/human-pressure-agriculture.json
  data/layers/human-pressure-all.json
  data/layers/human-pressure-rainfed.json
  data/layers/human-pressure-urban.json
  data/layers/signed_pledges.json
  data/outputs/layers.csv
Due: none

updated slugs
  data/layers/protected-biosphere-interact.json
  data/layers/protected-community-interact.json
  data/outputs/layers.csv
Due: none

Remove quotes that were creating too many quotes
  src/tpl.ejs
Due: none

Extend dynamic sentence in landscape mode * Fetch ranked rarity && ranked richness from carto * Show percentage of places using ranked rarity and ranked richness
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

added human pressure
  data/layers/human-pressure-agriculture.json
  data/layers/human-pressure-all.json
  data/layers/human-pressure-rainfed.json
  data/layers/human-pressure-urban.json
  data/outputs/layers.csv
Due: none
