Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --print-width 120", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss"
}

Updated with new icon and styles
  src/app/components/v2/accordion-card/accordion-card-styles.scss
  src/app/pages/root/group-card-list/group-card-list-component.jsx
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Fix syntax error
  src/app/components/pane/pane.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Use he-components for accordionCard and checkbox
  src/app/components/v2/dataset-combo/dataset-combo-component.jsx
  src/app/pages/root/group-card-list/group-card-list-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

delete unusedd style in modal/update instructionCombo function params
  src/app/components/v2/modal-instructions/modal-instructions-component.jsx
  src/app/components/v2/modal-instructions/modal-instructions-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Fix production styles
  config/base.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Changed chunkhash for hash on base config
  config/base.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Adjusted components to updated on he-components repo
  src/app/components/v2/accordion-card/accordion-card-component.jsx
  src/app/components/v2/accordion-card/accordion-card-styles.scss
  src/app/components/v2/accordion-card/accordion-card.js
  src/app/components/v2/checkbox/checkbox-component.jsx
  src/app/components/v2/checkbox/checkbox-styles.scss
  src/app/components/v2/checkbox/checkbox.js
  src/app/components/v2/dataset-combo/dataset-combo-component.jsx
  src/app/pages/root/group-card-list/group-card-list-component.jsx
  src/app/styles/themes/checkbox-theme.scss
  src/app/styles/themes/half-earth-switch-theme.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Fix details
  src/app/components/v2/modal-instructions/modal-instructions-component.jsx
  src/app/components/v2/modal-instructions/modal-instructions-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Simplify categories group parsing
  src/app/pages/root/group-card-list/group-card-list-component.jsx
  src/app/pages/root/group-card-list/group-card-list-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Update he-components dependency
  package.json
Due: none

updated layers
  data/README.md
  data/info_pannel_histograms.json
  data/layers/grid-clipped.json
  data/layers/grid-marine.json
  data/layers/grid-terrestrial.json
  data/layers/rich_or_rare.json
  data/outputs/layers.csv
Due: none

Update toolbar icons
  src/app/assets/icons/how-icon.svg
  src/app/assets/icons/share-icon.svg
  src/app/pages/root/toolbar/toolbar-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

New images
  public/img/categories/hummingbirds.png
  public/img/categories/south-africa.png
  public/img/icons/flag-icon.png
Due: none

Use legend config name for legend
  src/app/pages/root/legend/legend-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Show description for featured categories
  src/app/pages/root/categories-list/categories-list-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Sort dataset positions
  src/app/pages/root/group-card-list/group-card-list-selectors.js
  src/app/pages/root/root-styles.scss
  src/app/pages/root/toolbar/toolbar-component.jsx
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Contentful service
  .env.sample
  Dockerfile
  Jenkinsfile
  README.md
  config/base.js
  src/app/services/contentful.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Show metadata content
  src/app/components/v2/modal-metadata/modal-metadata-component.jsx
  src/app/components/v2/modal-metadata/modal-metadata-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Fetch metadata from contentful
  src/app/components/v2/modal-metadata/modal-metadata-actions.js
  src/app/components/v2/modal-metadata/modal-metadata-reducers.js
  src/app/pages/root/legend/legend.js
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Metadata modal styles
  src/app/components/v2/modal-metadata/modal-metadata-actions.js
  src/app/components/v2/modal-metadata/modal-metadata-component.jsx
  src/app/components/v2/modal-metadata/modal-metadata-reducers.js
  src/app/components/v2/modal-metadata/modal-metadata-selectors.js
  src/app/components/v2/modal-metadata/modal-metadata-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Fix jenkins contentful env
  Jenkinsfile
Due: none

wip: render primitive geometries with cell_id
  .eslintrc.yml
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Trying the terrain
  src/app/components/v2/terrain/terrain-component.jsx
  src/app/components/v2/terrain/terrain-styles.scss
  src/app/components/v2/terrain/terrain.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Hovering on grid cells
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Show terrestial grid by default with certain zoom level
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Make the grid reusable
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Render grids from layer spec
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
  src/app/pages/root/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Move to terrain on grid click
  src/app/components/v2/map/map.js
  src/app/components/v2/terrain/terrain-component.jsx
  src/app/components/v2/terrain/terrain.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Center on location from toolbar
  src/app/pages/root/root-component.jsx
  src/app/pages/root/toolbar/toolbar-component.jsx
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Fix grid on terrain
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/pages/root/map/map-component.jsx
  src/app/selectors/datasets-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Include postRobot listeners for v2
  docs/embed-map.md
  public/examples/iframe-controlled-map-v2.html
  src/app/pages/root/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Add camera offset and latLng to query on grid click
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Consume new params from setTerrainModeView function on cesium map
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Add some props types validation
  src/app/components/v2/map/map-component.jsx
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Update check with lat long instead of coordinates
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Update latLng check and fixed propType
  src/app/components/v2/map/map-component.jsx
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix
