Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --semi false", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

fix: includes correct where to protect legend
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/pages/global/global-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

updating render modes
  public/img/triangulos.glb
  src/app/components/birds/birds.jsx
  src/app/components/birds/lib/boid.js
  src/app/components/cesium/map/map.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: wrong gradient key in protea
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

prevent crash when billboard is not loaded
  src/app/components/cesium/billboard/billboard.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: pop-up images dont match billboards
  src/app/pages/local/initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: update carto-css styles
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: autoprefix + babel browserlist
  .babelrc
  .postcssrc
Due: none

fix: pop-up texts
  src/app/pages/local/initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: includes new texts
  src/app/pages/global/global-component.jsx
  src/app/pages/home/home-component.jsx
  src/app/pages/local/local-component.jsx
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: includes missing layers
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/global/global-component.jsx
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: adds styles to link
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

separates architecture, normalizes positions, optimizes peformances
  public/img/triangulos.glb
  src/app/components/birds/birds.jsx
  src/app/components/birds/cesium-bird.js
  src/app/components/birds/lib/bird.js
  src/app/components/birds/lib/boid.js
  src/app/components/birds/lib/canvas-bird.js
  src/app/components/birds/lib/flock.js
  src/app/components/birds/lib/utils.js
  src/app/components/cesium/map/map.js
  src/app/pages/map/map-component.jsx
  src/app/utils/utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

replace poppers
  public/img/billboard/01_01-hover.png
  public/img/billboard/01_01.png
  public/img/billboard/02_01-hover.png
  public/img/billboard/02_01.png
  public/img/billboard/03_01-hover.png
  public/img/billboard/03_01.png
  public/img/billboard/04_01-hover.png
  public/img/billboard/04_01.png
  public/img/billboard/05_01-hover.png
  public/img/billboard/05_01.png
  public/img/billboard/06_01-hover.png
  public/img/billboard/06_01.png
  public/img/billboard/07_01-hover.png
  public/img/billboard/07_01.png
  public/img/billboard/08_01-hover.png
  public/img/billboard/08_01.png
  public/img/billboard/09_01-hover.png
  public/img/billboard/09_01.png
  public/img/billboard/10_01-hover.png
  public/img/billboard/10_01.png
  public/img/billboard/11_01-hover.png
  public/img/billboard/11_01.png
  public/img/billboard/12_01-hover.png
  public/img/billboard/12_01.png
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add birds from the get go
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

remove unused lighting config
  src/app/components/cesium/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: change earthPercent
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: update earthometer displayOnly in global
  src/app/pages/global/global-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: includes species selector in global
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

tweaking local level animations
  src/app/components/birds/birds.jsx
  src/app/components/birds/lib/flock.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

decent animation workflow
  src/app/components/birds/birds.jsx
  src/app/components/birds/cesium-bird.js
  src/app/pages/local/initial-state.js
  src/app/pages/map/initial-state.js
  src/app/pages/map/map-component.jsx
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

text fix
  src/app/pages/global/global-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

hide header
  src/app/components/earthometer/earthometer-styles.scss
  src/app/layout/layout-component.jsx
  src/app/layout/layout-styles.scss
  src/app/styles/variables.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: restores $header-height and adds a top to the layout
  src/app/layout/layout-styles.scss
  src/app/styles/variables.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: calc needs px
  src/app/styles/variables.scss
Due: stylelint --syntax=scss ./src/**/*.scss

burst to the left of the frame on load
  src/app/pages/local/initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: hides intro page, just commented for later review
  src/app/layout/layout-component.jsx
  src/app/pages/home/home-component.jsx
  src/app/routes.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

diable stylelint on 0px
  src/app/components/locator/locator-component.jsx
  src/app/components/locator/locator-styles.scss
  src/app/layout/layout-component.jsx
  src/app/styles/variables.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: removes a dimension from global spider chart
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/spider-chart/spider-chart.jsx
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global.js
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix missing variable after being removed in other merge
  src/app/layout/layout-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: changes data displayed in tooltip
  src/app/layout/layout-component.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state.js
  src/app/pages/regional/regional.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

upload new logo version
  public/img/partners/logo_vizz_white.png
  public/img/partners/mol_logo_white.png
  public/img/partners/wilson_white.png
  src/app/components/cesium/map/map-component.jsx
  src/app/components/logos/logos-component.jsx
  src/app/components/logos/logos-styles.scss
  src/app/components/logos/logos.js
  src/app/components/logos/nav-footer-modal-content.jsx
  src/app/components/nav-footer/nav-footer-component.jsx
  src/app/components/nav-footer/nav-footer-styles.scss
  src/app/components/nav-footer/nav-footer.js
  src/app/components/pop-up/pop-up-component.jsx
  src/app/pages/map/map-component.jsx
  src/app/styles/variables.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: legend bottom
  src/app/components/legend/legend-styles.scss
  src/app/components/logos/logos-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

styles ready
  src/app/components/logos/logos-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

hide vizz for presentation
  src/app/components/logos/logos-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: hide global graph
  src/app/components/logos/logos-component.jsx
  src/app/pages/global/global-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

update deploy
  Jenkinsfile
  k8s/production/deployment.yaml
  k8s/production/hpa.yaml
Due: none

add stagging server
  package.json
  public/stagging-server.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix stagging config
  package.json
  stagging-server.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

remove old server file
  server.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix
