Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --print-width 100", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss"
}

Display mol logo if contentful response has molLogo set to true
  src/app/components/v2/modal-metadata/modal-metadata-component.jsx
  src/app/components/v2/modal-metadata/modal-metadata-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Change partners modal + add period at the end of dynamic sentence in landscape mode
  src/app/components/logos/logos-styles.scss
  src/app/components/logos/nav-footer-modal-content.jsx
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add protected areas tooltip
  src/app/components/v2/protected-areas-tooltip/protected-areas-tooltip-component.jsx
  src/app/components/v2/protected-areas-tooltip/protected-areas-tooltip-styles.scss
  src/app/components/v2/protected-areas-tooltip/protected-areas-tooltip.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add interactions on map component
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add tooltip to selectors
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add protected areas layer
  src/app/components/v2/map/protected-areas-layer/protected-areas-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update map click event
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Linter hapiness
  src/app/components/v2/protected-areas-tooltip/protected-areas-tooltip-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Display molLogo in legend
  package.json
  src/app/components/v2/dataset-combo/dataset-combo.js
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend-selectors.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Make crosses visible
  src/app/assets/icons/icon-cross.svg
Due: none

Add modal scaffold, add universal-cookie library
  package.json
  src/app/components/v2/modal-tutorial/modal-tutorial-actions.js
  src/app/components/v2/modal-tutorial/modal-tutorial-component.jsx
  src/app/components/v2/modal-tutorial/modal-tutorial-reducers.js
  src/app/components/v2/modal-tutorial/modal-tutorial-styles.scss
  src/app/components/v2/modal-tutorial/modal-tutorial.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add tutorial modal
  public/img/globe.png
  public/img/landscape.png
  src/app/assets/icons/help-icon.svg
  src/app/components/v2/modal-tutorial/modal-tutorial-actions.js
  src/app/components/v2/modal-tutorial/modal-tutorial-component.jsx
  src/app/components/v2/modal-tutorial/modal-tutorial-reducers.js
  src/app/components/v2/modal-tutorial/modal-tutorial-styles.scss
  src/app/components/v2/modal-tutorial/modal-tutorial.js
  src/app/pages/root/root-component.jsx
  src/app/pages/root/toolbar/toolbar-component.jsx
  src/app/pages/root/toolbar/toolbar.js
  src/app/reducers.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Check if layerToActive exists before getting its slug
  src/app/components/v2/dataset-combo/dataset-combo.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Link How to navigate to global landscape tutorial
  src/app/components/v2/modal-instructions/modal-instructions-component.jsx
  src/app/components/v2/modal-instructions/modal-instructions-styles.scss
  src/app/components/v2/modal-instructions/modal-instructions.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

updated layer titles
  data/layers/fishing-all.json
  data/layers/human-pressure-all.json
  data/outputs/layers.csv
Due: none

Dynamically change detail view subtitle
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update yarn lock
  yarn.lock
Due: none

Create zoom component
  src/app/assets/icons/minus.svg
  src/app/assets/icons/plus.svg
  src/app/components/v2/map/map-styles.scss
  src/app/components/v2/map/zoom-controls/zoom-controls-component.jsx
  src/app/components/v2/map/zoom-controls/zoom-controls-styles.scss
  src/app/components/v2/map/zoom-controls/zoom-controls.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add zoom to map
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-styles.scss
  src/app/pages/root/root-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

updated title
  data/layers/places_to_watch.json
  data/outputs/layers.csv
Due: none

Update modal content
  src/app/components/logos/nav-footer-modal-content.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add alts and links
  src/app/components/logos/nav-footer-modal-content.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Handle landscape zoom
  src/app/components/v2/map/zoom-controls/zoom-controls-actions.js
  src/app/components/v2/map/zoom-controls/zoom-controls-component.jsx
  src/app/components/v2/map/zoom-controls/zoom-controls-selectors.js
  src/app/components/v2/map/zoom-controls/zoom-controls.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update partners logos
  public/img/partners/partner_image/GBIF-2015.png
  public/img/partners/partner_image/changing_ocean.png
  public/img/partners/partner_image/ebird-logo.png
  public/img/partners/partner_image/eol.png
  public/img/partners/partner_image/esa.png
  public/img/partners/partner_image/global_fishing_watch.png
  public/img/partners/partner_image/google_cloud.png
  public/img/partners/partner_image/iucn.png
  public/img/partners/partner_image/mol_logo.png
  public/img/partners/partner_image/raisg.png
  public/img/partners/partner_image/ubc.png
  public/img/partners/partner_image/uf.png
  public/img/partners/partner_image/wcmc.png
  src/app/components/logos/nav-footer-modal-content.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Improve performance with requestRenderMode
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Activate request render, add water mask, hide atmosphere
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

updated protected areas
  data/layers/protected-biosphere-interact.json
  data/layers/protected-community-interact.json
  data/layers/protected-other-interact.json
  data/layers/protected-other.json
  data/layers/protected-strict-interact.json
  data/layers/protected-strict.json
  data/outputs/layers.csv
Due: none

Update layers selectors
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Clean grid when hovering outside the map
  src/app/components/v2/map/protected-areas-layer/protected-areas-layer.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

updated layers
  data/layers/protected-biosphere-interact.json
  data/layers/protected-community-interact.json
  data/layers/protected-other-interact.json
  data/layers/protected-strict-interact.json
  data/outputs/layers.csv
Due: none

Rerender when active layers props are updated
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

updated layers
  data/layers/protected-other-interact.json
  data/layers/protected-other.json
  data/outputs/layers.csv
Due: none

Mapping core text update
  src/app/components/logos/nav-footer-modal-content.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

updated histogram breaks to use quantiles rather than jenks
  src/app/redux-modules/cell-detail/cell-detail-reducers.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add info button to bivariate
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-styles.scss
  src/app/pages/root/detail-view/rarity-richness/rarity-richness.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Update styles
  src/app/components/v2/modal-instructions/modal-instructions-styles.scss
  src/app/components/v2/modal-share/modal-share-styles.scss
  src/app/components/v2/modal-tutorial/modal-tutorial-styles.scss
  src/tpl.ejs
Due: stylelint --syntax=scss

Update taxa selection logic
  src/app/pages/root/detail-view/detail-view-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Escape landscape view when zooming out
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix
