Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --semi false", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Add app state middleware
  src/app/store.js
  src/app/utils/redux.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Add selector provider
  src/app/providers/selectors/selectors-actions.js
  src/app/providers/selectors/selectors.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fix dropdown logic on regional level
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state.js
  src/app/pages/regional/regional-reducers.js
  src/app/pages/regional/regional.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add map reducers logic
  src/app/pages/map/map-actions.js
  src/app/pages/map/map-reducers.js
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add toggle logic in regional level
  src/app/components/explorable/explorable.js
  src/app/pages/map/map-reducers.js
  src/app/pages/map/map-utils.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state.js
  src/app/pages/regional/regional-reducers.js
  src/app/pages/regional/regional.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add billboar component
  package.json
  src/app/components/cesium/billboard/billboard.jsx
  src/app/components/cesium/map/map-component.jsx
  src/app/components/cesium/map/map.js
  src/app/pages/map/map-component.jsx
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

include spider charts
  package.json
  src/app/components/spider-chart/spider-chart-component.jsx
  src/app/components/spider-chart/spider-chart-styles.scss
  src/app/components/spider-chart/spider-chart.js
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global.js
  src/app/pages/global/spider.jsx
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state.js
  src/app/styles/ui.scss
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

update data
  src/app/pages/global/global-component.jsx
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add hover behavior to billboard
  public/img/bird-hover.png
  src/app/components/cesium/billboard/billboard.jsx
  src/app/components/cesium/map/map-component.jsx
  src/app/components/cesium/map/map.js
  src/app/pages/global/global-component.jsx
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: displays local billboards and connects them to the pop-ups
  public/img/billboard/01_NG_Okavango_Wilderness_Project_credit_James_Kydd_thumb.jpg
  public/img/billboard/02_NG_Okavango_Wilderness_Project_credit_Chris_Boyes_thumb.jpg
  public/img/billboard/03_NationalGeographic_2435343_thumb.jpg
  public/img/billboard/04_Okavango_steve_w_elephant_mombo_2_JKydd_thumb.jpg
  public/img/billboard/05_NationalGeographic_2435021_thumb.jpg
  public/img/billboard/06_NationalGeographic_2444856_thumb.jpg
  src/app/pages/local/initial-state.js
  src/app/pages/local/local-component.jsx
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix merge missing errors
  src/app/components/cesium/billboard/billboard.jsx
  src/app/components/cesium/map/map.js
  src/app/pages/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

change home page styles
  src/app/pages/home/home-component.jsx
  src/app/pages/home/home-styles.scss
  src/app/styles/variables.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

WIP connecting layers
  src/app/components/cesium/map/map-component.jsx
  src/app/pages/local/local-reducers.js
  src/app/pages/local/local.js
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: includes simple legend styles
  src/app/components/legend/legend-styles.scss
  src/app/layout/layout-component.jsx
  src/app/layout/layout-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: refactors legend layers into new component
  src/app/components/cesium/map/map-component.jsx
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/components/legend/legend-layers/legend-layers.js
  src/app/components/legend/legend.js
  src/app/layout/layout-component.jsx
  src/app/layout/layout-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

new styles for percentage header
  src/app/components/earthometer/earthometer-component.jsx
  src/app/components/earthometer/earthometer-styles.scss
  src/app/components/sidebar/button/button-styles.scss
  src/app/components/sidebar/sidebar-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix arrow z-index
  src/app/components/sidebar/button/button-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

refactoring layer logic to reuse in other zoom levels
  src/app/components/spider-chart/spider-chart.jsx
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global-reducers.js
  src/app/pages/global/global.js
  src/app/pages/local/local-actions.js
  src/app/pages/local/local-reducers.js
  src/app/pages/local/local.js
  src/app/pages/map/map-component.jsx
  src/app/pages/map/map-utils.js
  src/app/pages/map/map.js
  src/app/pages/regional/regional-actions.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state.js
  src/app/pages/regional/regional.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

remove legacy state
  src/app/pages/regional/regional.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

connect global layers -minus slider
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global-reducers.js
  src/app/pages/global/global.js
  src/app/pages/map/map-component.jsx
  src/app/pages/map/map.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: dynamic legend support
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers.js
  src/app/components/legend/legend.js
  src/app/layout/layout-component.jsx
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

connect slider layer logic
  src/app/components/earthometer/earthometer-reducers.js
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global-reducers.js
  src/app/pages/global/global.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

hide layers when not slided over
  src/app/pages/global/global-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: refactors legend-layers container logic into layout container
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/components/legend/legend-layers/legend-layers.js
  src/app/components/legend/legend-styles.scss
  src/app/layout/layout-component.jsx
  src/app/layout/layout.js
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: show only one title when multiple gradient legends
  src/app/components/legend/legend-layers/legend-layers-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

improve styles
  src/app/components/nav-footer/nav-footer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

include linechart on global page
  public/img/graph/graph.png
  public/img/graph/line_graph.svg
  src/app/pages/global/global-component.jsx
  src/app/pages/global/linechart.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

include svg legend
  public/img/graph/coral.svg
  public/img/graph/montain.svg
  public/img/graph/sea.svg
  src/app/pages/global/global-component.jsx
  src/app/pages/global/shapes.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: adds max width to percentageContainer
  src/app/components/earthometer/earthometer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

update dropdown styles
  src/app/components/explorable/dropdown/dropdown.scss
  src/app/components/sidebar/sidebar-styles.scss
  src/app/styles/themes/dropdown.scss
Due: stylelint --syntax=scss ./src/**/*.scss

destroy elements on unmount
  src/app/components/cesium/billboard/billboard.jsx
  src/app/components/cesium/image-provider/image-provider.jsx
  src/app/components/cesium/model-provider/model-provider.jsx
  src/app/pages/global/global-component.jsx
  src/app/pages/map/map-component.jsx
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

dynamic margins on sidebar
  src/app/pages/regional/regional-component.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

improve margin
  src/app/styles/ui.scss
Due: stylelint --syntax=scss ./src/**/*.scss

add border bottom on dropdown options
  src/app/styles/themes/dropdown.scss
Due: stylelint --syntax=scss ./src/**/*.scss

change carto styles
  src/app/pages/global/global-initial-state.js
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

disabled toggles
  src/app/components/explorable/explorable.js
  src/app/components/explorable/toggle/toggle-component.jsx
  src/app/pages/regional/regional-component.jsx
  src/app/styles/themes/toggle.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
