Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Species module and fetch
  src/app/data/iucn-list.js
  src/app/reducers.js
  src/app/redux-modules/species/species-actions.js
  src/app/redux-modules/species/species-reducers.js
  src/app/redux-modules/species/species.js
  src/app/selectors/species-selectors.js
  src/app/services/mol.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Close terrain mode and fix details
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/components/v2/map/map.js
  src/app/pages/root/detail-view/detail-view.js
  src/app/pages/root/legend/legend.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Species to watch layout and data fetch
  .lintstagedrc
  public/img/partners/mol-logo-white@2x.png
  src/app/pages/root/detail-view/detail-view-actions.js
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/detail-view.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-styles.scss
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-selectors.js
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-styles.scss
  src/app/pages/root/detail-view/species-to-watch/species-to-watch.js
  src/app/selectors/location-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Show layers active counter
  src/app/pages/root/group-card-list/group-card-list-component.jsx
  src/app/pages/root/group-card-list/group-card-list-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update he-components version
  package.json
Due: none

Include mol api key in jenkins
  Dockerfile
  Jenkinsfile
Due: none

Show featured datasets and data percentages in sidebar detail
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix proptype warning
  src/app/components/v2/dataset-combo/dataset-combo.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix artifacts and apply terrain exageration
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Change rarity and richness order
  src/app/selectors/datasets-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix histogram position
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/redux-modules/cell-detail/cell-detail-reducers.js
  src/app/selectors/cell-detail-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

layers update
  data/layers/grid-marine.json
  data/layers/places_to_watch.json
  data/outputs/categories.csv
  data/outputs/datasets.csv
  data/outputs/layers.csv
  data/process.py
Due: none

Fix legend crash when request fail
  src/app/components/v2/map/grid-layer/grid-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Split polygons and polylines into two layers
  src/app/components/v2/map/polyline-grid/polyline-grid.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Get grid only on bounding box
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

updated layers and added places to watch code
  data/inputs/places_to_watch.json
  data/layers/grid-terrestrial.json
  data/outputs/places_to_watch.csv
  data/places_to_watch.py
Due: none

add layers
  data/README.md
Due: none

Fix repainting unnecesary
  src/app/selectors/location-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fly to bounding box on layer active change
  src/app/components/v2/dataset-combo/dataset-combo.js
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update coordinates options to fly to map doc
  docs/embed-map.md
  public/examples/iframe-controlled-map-v2.html
  public/examples/iframe-controlled-map.html
Due: none

Update grid component
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/components/v2/map/polyline-grid/polyline-grid.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add bounding box
  src/app/components/v2/map/grid-layer/grid-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix center on my location
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Remove grid when not show
  src/app/components/v2/map/grid-layer/grid-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Hardcode reset from lanscape view
  src/app/pages/root/detail-view/detail-view.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Set opacity 0.5 for layers in landscape mode
  src/app/components/v2/dataset-combo/dataset-combo.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/redux-modules/datasets/datasets-utils.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Hide progress bar for features datasets in detail sidebar
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix styles when no progress bar
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/pages/root/detail-view/progress-card/progress-card-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Move half-earth movemment layers to the toolbar
  src/app/assets/icons/icon-binoculars.svg
  src/app/pages/root/group-card-list/group-card-list-selectors.js
  src/app/pages/root/toolbar/toolbar-component.jsx
  src/app/pages/root/toolbar/toolbar-selectors.js
  src/app/pages/root/toolbar/toolbar.js
  src/app/selectors/datasets-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Remove table in carto so don't need the filter
  src/app/pages/root/group-card-list/group-card-list-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Rename datasets and review styles
  src/app/pages/root/toolbar/toolbar-component.jsx
  src/app/pages/root/toolbar/toolbar-selectors.js
  src/app/pages/root/toolbar/toolbar-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Save cellCoordinates in url
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update grid click functionality to consume coords from url
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Changed default opacity
  src/app/components/v2/dataset-combo/dataset-combo.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update terrain mode view and add sky
  src/app/components/v2/map/map.js
  src/app/pages/root/detail-view/detail-view.js
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Delete unused outline primitive
  src/app/components/v2/map/grid-layer/grid-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Properly remove grid cell
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix proptypes and offset
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Ordering dataset in the proper place
  src/app/pages/root/group-card-list/group-card-list-selectors.js
  src/app/selectors/categories-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Restore default layer opacity
  src/app/components/v2/dataset-combo/dataset-combo.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote --print-width 100: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss: any of: *.scss
