Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

connect basic layers in regional explore
  src/app/components/cesium/image-provider/image-provider.jsx
  src/app/components/pane/components/info/info-styles.scss
  src/app/components/pane/components/opacity/opacity-component.jsx
  src/app/components/pane/components/opacity/opacity-styles.scss
  src/app/components/pane/pane-actions.js
  src/app/components/pane/pane-component.jsx
  src/app/components/pane/pane-initial-state.js
  src/app/components/pane/pane-reducers.js
  src/app/components/pane/pane.js
  src/app/pages/regional/regional-initial-state/regional-initial-state.js
  src/app/pages/regional/regional-initial-state/regional-layers.js
  src/app/pages/regional/regional-initial-state/regional-panes.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix legend bug
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/pane/pane-component.jsx
  src/app/layout/layout.js
  src/app/pages/map/map-utils.js
  src/app/pages/regional/regional-initial-state/regional-panes.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add popup regional data and connect to pane
  src/app/components/cesium/map/map.js
  src/app/components/pane/components/expand/expand-component.jsx
  src/app/components/pane/components/expand/expand-styles.scss
  src/app/components/pane/components/info/info-component.jsx
  src/app/components/pane/components/info/info-styles.scss
  src/app/components/pane/components/opacity/opacity-styles.scss
  src/app/components/pane/pane-actions.js
  src/app/components/pane/pane-component.jsx
  src/app/components/pane/pane-reducers.js
  src/app/components/pane/pane-styles.scss
  src/app/components/pane/pane.js
  src/app/pages/map/map-reducers.js
  src/app/pages/regional/regional-actions.js
  src/app/pages/regional/regional-initial-state/regional-initial-state.js
  src/app/pages/regional/regional-initial-state/regional-layers.js
  src/app/pages/regional/regional-initial-state/regional-panes.js
  src/app/pages/regional/regional-initial-state/regional-popups.js
  src/app/pages/regional/regional-reducers.js
  src/app/reducers.js
  src/app/utils/utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

regional pane ready to test
  src/app/components/pane/components/pane-toggle/pane-toggle-component.jsx
  src/app/components/pane/components/pane-toggle/pane-toggle-styles.scss
  src/app/components/pane/components/pane-toggle/pane-toggle.js
  src/app/components/pane/pane-component.jsx
  src/app/components/pane/pane-initial-state.js
  src/app/components/pane/pane-styles.scss
  src/app/components/sidebar/components/pane-toggle/pane-toggle-styles.scss
  src/app/components/sidebar/sidebar-component.jsx
  src/app/components/sidebar/sidebar-initial-state.js
  src/app/pages/regional/regional-initial-state/regional-popups.js
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add explore pane to global && refactor pane reducers
  src/app/components/pane/pane-component.jsx
  src/app/components/pane/pane-reducers.js
  src/app/components/pane/pane.js
  src/app/components/sidebar/sidebar-component.jsx
  src/app/components/sidebar/sidebar-initial-state.js
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-initial-state/global-initial-state.js
  src/app/pages/global/global-initial-state/global-layers.js
  src/app/pages/global/global-initial-state/global-panes.js
  src/app/pages/global/global-initial-state/global-popups.js
  src/app/pages/global/global-reducers.js
  src/app/pages/regional/regional-initial-state/regional-panes.js
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

remove default explore
  src/app/components/sidebar/sidebar-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

rm first paragraph
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix route matching condition for the pane switch
  src/app/components/sidebar/sidebar-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

update legend colors
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/global/global-initial-state/global-legends.js
  src/app/pages/regional/regional-initial-state/regional-legends.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix legend numbers
  src/app/components/dropdown/dropdown-component.jsx
  src/app/pages/global/global-initial-state/global-legends.js
  src/app/pages/regional/regional-initial-state/regional-legends.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add prio layer and legend
  src/app/components/earthometer-multi/components/knob/knob.js
  src/app/components/earthometer-multi/earthometer-multi-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state/global-layers.js
  src/app/pages/global/global-initial-state/global-legends.js
  src/app/pages/global/global-initial-state/global-sections.js
  src/app/pages/global/global-reducers.js
  src/app/utils/utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix typo
  src/app/pages/global/global-initial-state/global-legends.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

prio legend from 0 to 100
  src/app/pages/global/global-initial-state/global-legends.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

style fixes
  src/app/components/nav-footer/nav-footer-styles.scss
  src/app/components/pane/pane-styles.scss
  src/app/components/sidebar/components/pane-toggle/pane-toggle-styles.scss
  src/app/components/sidebar/sidebar-component.jsx
  src/app/components/sidebar/sidebar-styles.scss
  src/app/pages/global/barchart/barchart-component.jsx
  src/app/pages/global/global-component.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

show layers on filtering
  public/img/reserves/species/addo-elephant-national-park/bird-campethera-notata-knysna-woodpecker-thumb-hover.jpg
  public/img/reserves/species/addo-elephant-national-park/bird-campethera-notata-knysna-woodpecker-thumb.jpg
  public/img/reserves/species/addo-elephant-national-park/bird-campethera-notata-knysna-woodpecker.jpg
  public/img/reserves/species/grootbos-private-nature-reserve/bird-ploceus-capensis-cape-weaver-thumb-hover.jpg
  public/img/reserves/species/grootbos-private-nature-reserve/bird-ploceus-capensis-cape-weaver-thumb.jpg
  public/img/reserves/species/grootbos-private-nature-reserve/bird-ploceus-capensis-cape-weaver.jpg
  src/app/components/side-popup/side-popup-component.jsx
  src/app/pages/map/map-reducers.js
  src/app/pages/regional/regional-actions.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state/regional-legends.js
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

hide legend for conservation areas
  src/app/pages/regional/regional-initial-state/regional-legends.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

hard fix css
  src/app/pages/global/global-component.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

replace temp missing pictures
  public/img/reserves/species/addo-elephant-national-park/bird-campethera-notata-knysna-woodpecker-thumb-hover.jpg
  public/img/reserves/species/addo-elephant-national-park/bird-campethera-notata-knysna-woodpecker-thumb.jpg
  public/img/reserves/species/addo-elephant-national-park/bird-campethera-notata-knysna-woodpecker.jpg
  public/img/reserves/species/grootbos-private-nature-reserve/bird-ploceus-capensis-cape-weaver-thumb-hover.jpg
  public/img/reserves/species/grootbos-private-nature-reserve/bird-ploceus-capensis-cape-weaver-thumb.jpg
  public/img/reserves/species/grootbos-private-nature-reserve/bird-ploceus-capensis-cape-weaver.jpg
Due: none

polish sticky styles
  src/app/components/sidebar/components/pane-toggle/pane-toggle-styles.scss
  src/app/components/sidebar/sidebar-styles.scss
  src/app/components/sidebar/variables.scss
  src/app/styles/variables.scss
Due: stylelint --syntax=scss ./src/**/*.scss

remove bottom banner && reposition legend
  src/app/components/legend/legend-styles.scss
  src/app/components/logos/logos-styles.scss
  src/app/styles/ui.scss
Due: stylelint --syntax=scss ./src/**/*.scss

make knob handle round
  src/app/components/earthometer-multi/components/knob/knob-styles.scss
  src/app/components/earthometer-multi/components/knob/knob.js
  src/app/components/earthometer-multi/earthometer-multi-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add last paragraph and closing arrow
  src/app/components/nav-footer/restart-component.jsx
  src/app/data/zoom-levels.js
  src/app/pages/global/global-component.jsx
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state/regional-sections.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix spacing in eartho
  src/app/components/earthometer-multi/earthometer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

add conservation areas layer to text next to slider
  src/app/pages/global/global-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

css fixes
  src/app/components/earthometer-multi/components/knob/knob.js
  src/app/components/sidebar/sidebar-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

undo wrong styling add it to the right place
  src/app/components/pane/pane-styles.scss
  src/app/components/sidebar/sidebar-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add prioritization areas to explore
  src/app/pages/global/global-initial-state/global-panes.js
  src/app/pages/global/global-initial-state/global-popups.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

make sorting optional in dropdown
  src/app/components/dropdown/dropdown-component.jsx
  src/app/components/dropdown/dropdown.js
  src/app/components/locator/locator-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

plug proiritization layer to slider
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state/global-layers.js
  src/app/pages/global/global-initial-state/global-sections.js
  src/app/pages/global/global-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix feedback issues
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
  src/app/layout/layout.js
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state/global-charts.js
  src/app/pages/global/global-initial-state/global-legends.js
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

remove spasing from slides
  src/app/styles/ui.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fixes mentoned issues
  public/img/reserves/species/grootbos-private-nature-reserve/bird-bradypterus-sylvaticus-knysna-scrub-warbler.jpg
  public/img/reserves/species/kenilworth-racecourse-conservation-area/plant-erica-verticillata-whorled-heath.jpg
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
  src/app/components/locator/locator-component.jsx
  src/app/components/pop-up/image-content/image-content-styles.scss
  src/app/pages/global/global-initial-state/global-legends.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state/regional-legends.js
  src/app/pages/regional/regional-initial-state/regional-sections.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

adds angle to labesls when they dont fit
  src/app/pages/global/barchart/barchart-component.jsx
  src/app/pages/global/barchart/barchart-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add attribution to images
  src/app/components/pop-up/image-content/image-content-component.jsx
  src/app/components/side-popup/side-popup-component.jsx
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state/regional-cards.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add key actions service and closes all popups on esc keypress
  src/app/components/legend/legend-layers/legend-layers-reducer.js
  src/app/components/nav-footer/nav-footer-reducers.js
  src/app/layout/layout.js
  src/app/pages/regional/regional-reducers.js
  src/app/providers/keyboard/keyboard-actions.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

text updates
  src/app/components/legend/legend-component.jsx
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
  src/app/pages/global/global-component.jsx
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fixes barchart sorting
  src/app/pages/global/global-initial-state/global-charts.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

adds human pressures to the 3rd regional text block
  src/app/pages/regional/regional-initial-state/regional-sections.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

link billboards to layers && add dummy billboards for linked layers && add hover state to billboads && add interact handler to the app
  public/img/billboard/color-dots.zip
  public/img/billboard/dot-community-based-conservation-areas-hover.png
  public/img/billboard/dot-community-based-conservation-areas.png
  public/img/billboard/dot-example-protected-areas-hover.png
  public/img/billboard/dot-example-protected-areas.png
  public/img/billboard/dot-private-reserves-hover.png
  public/img/billboard/dot-private-reserves.png
  src/app/components/cesium/billboard/billboard.jsx
  src/app/components/cesium/map/map.js
  src/app/layout/layout-component.jsx
  src/app/layout/layout-styles.scss
  src/app/layout/layout.js
  src/app/pages/map/map-component.jsx
  src/app/pages/map/map.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-reducers.js
  src/app/providers/interact/interact-actions.js
  src/app/providers/interact/interact-initial-state.js
  src/app/providers/interact/interact-reducers.js
  src/app/providers/interact/interact.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add new dot images && hide dots when close && set fixed zoomes per dot
  public/img/billboard/community-based-conservation-areas-hover.png
  public/img/billboard/community-based-conservation-areas.png
  public/img/billboard/dot-community-based-conservation-areas-hover.png
  public/img/billboard/dot-community-based-conservation-areas.png
  public/img/billboard/dot-example-protected-areas-hover.png
  public/img/billboard/dot-example-protected-areas.png
  public/img/billboard/dot-hover.png
  public/img/billboard/dot-private-reserves-hover.png
  public/img/billboard/dot-private-reserves.png
  public/img/billboard/dot.png
  public/img/billboard/example-protected-areas-hover.png
  public/img/billboard/example-protected-areas.png
  public/img/billboard/private-reserves-hover.png
  public/img/billboard/private-reserves.png
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/map/map-component.jsx
  src/app/pages/map/map.js
  src/app/pages/regional/regional-initial-state/regional-cards.js
  src/app/pages/regional/regional-initial-state/regional-initial-state.js
  src/app/pages/regional/regional-initial-state/regional-layers.js
  src/app/pages/regional/regional-initial-state/regional-legends.js
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Path conditions:
  prettier --parser flow --write --single-quote --semi false: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
