Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --print-width 100", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss"
}

Add google analytics to build script
  Jenkinsfile
Due: none

Allows setting layers with specific opacity
  docs/embed-map.md
  src/app/pages/root/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

added first version of labels/country outlines
  data/layers/grid-outlines-labels.json
  data/outputs/layers.csv
Due: none

Activate borders layer from button on toolbar
  src/app/pages/root/toolbar/toolbar-component.jsx
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Display proper name on map legend
  src/app/pages/root/legend/legend-title/legend-title-component.jsx
  src/app/pages/root/map/map-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

updated styles
  data/layers/grid-outlines-labels.json
  data/outputs/layers.csv
Due: none

modified label text
  src/app/pages/root/toolbar/toolbar-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

updated gridlines
  data/layers/grid-outlines-labels.json
  data/outputs/layers.csv
Due: none

Add country borders layer on map first load
  src/app/pages/root/root-actions.js
  src/app/pages/root/root-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

remove transparnency from labels
  data/layers/grid-outlines-labels.json
  data/outputs/layers.csv
Due: none

changed label style
  data/layers/grid-outlines-labels.json
  data/outputs/layers.csv
Due: none

Spread previous active layers before adding borders
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

added layer update
  data/layers/grid-outlines-labels.json
  data/outputs/layers.csv
Due: none

no label overlap
  data/layers/grid-outlines-labels.json
  data/outputs/layers.csv
Due: none

Fix path on featured categories to be relative to local project
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/utils/utils.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

updated fishing layers
  data/layers/fishing-all.json
  data/layers/fishing-fixed.json
  data/layers/fishing-longlines.json
  data/layers/fishing-other.json
  data/layers/fishing-purse.json
  data/layers/fishing-trawlers.json
  data/outputs/layers.csv
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

update tooltip component with new url for stories images
  src/app/components/v2/map-tooltip/map-tooltip-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update story object
  src/app/components/v2/map/stories-layer/stories-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Updates contentful service and stories redux module
  src/app/redux-modules/stories/stories-thunks.js
  src/app/services/contentful.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Format stories text
  src/app/services/contentful.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Delete stories query from Carto service
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add carto logo to partners modal
  public/img/partners/partner_image/logo_carto.png
  src/app/components/logos/nav-footer-modal-content.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update Cesium version
  src/tpl.ejs
Due: none

Add bigger logo
  public/img/partners/partner_image/logo_CARTO_solid@1x.png
  public/img/partners/partner_image/logo_carto.png
  src/app/components/logos/nav-footer-modal-content.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update species color depending on threat level
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add sidebar toggle event
  src/app/pages/root/root-actions.js
  src/app/pages/root/root-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add social share events
  src/app/components/v2/modal-share/modal-share-actions.js
  src/app/components/v2/modal-share/modal-share-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add species to watch actions
  src/app/pages/root/detail-view/species-to-watch/mol-species-link/mol-species-link-actions.js
  src/app/pages/root/detail-view/species-to-watch/mol-species-link/mol-species-link-component.jsx
  src/app/pages/root/detail-view/species-to-watch/mol-species-link/mol-species-link.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add toolbar actions
  src/app/pages/root/toolbar/toolbar-actions.js
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add legend actions
  src/app/pages/root/legend/legend-actions.js
  src/app/pages/root/legend/legend.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix gs analytics functions
  src/app/providers/analytics/analytics-actions.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update cesium version
  src/tpl.ejs
Due: none
