Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix spacing on firefox
  src/app/components/nav-footer/nav-footer-styles.scss
  src/app/pages/global/barchart/barchart-component.jsx
  src/app/pages/home/home-nav-footer.scss
  src/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fixes exponential legend notation && replaces PAs text
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/global/global-initial-state/global-legends.js
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

update texts && make info section dependent
  public/img/billboard/color-dots.zip
  public/img/billboard/community-based-conservation-areas-hover.png
  public/img/billboard/community-based-conservation-areas.png
  public/img/billboard/example-protected-areas-hover.png
  public/img/billboard/example-protected-areas.png
  public/img/billboard/private-reserves-hover.png
  public/img/billboard/private-reserves.png
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
  src/app/layout/layout-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix typo
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

center africa for global
  src/app/data/zoom-levels.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

New text updates
  src/app/components/earthometer-multi/earthometer-multi-component.jsx
  src/app/pages/global/global-component.jsx
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

removes spacing and tones out not active text
  src/app/pages/global/global-component.jsx
  src/app/pages/regional/regional-component.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

more text fixes
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state/global-charts.js
  src/app/pages/home/home-component.jsx
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

hides only filter connected layers
  src/app/components/side-popup/side-popup-component.jsx
  src/app/pages/regional/regional-actions.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

disallow multiple filters
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

handle filter connected layer showing/hiding
  src/app/components/side-popup/side-popup-component.jsx
  src/app/pages/map/map-reducers.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-reducers.js
  src/app/pages/regional/regional-utils.js
  src/app/providers/interact/interact-reducers.js
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

selects first layer when opening sidepopup
  src/app/pages/regional/regional-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

rearrange home page texts and quotation marks
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

more rmving assets
  public/img/bird.gltf
  public/img/earthometer.png
  public/img/percentages.png
  public/img/richness-data.jpg
  public/img/triangulos.glb
Due: none

new katex component and bring katex css into the template
  package.json
  src/app/components/katex/katex-component.jsx
  src/tpl.ejs
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

update label info and bring math formula in
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

make different dots more noticeable
  public/img/billboard/community-based-conservation-areas-hover.png
  public/img/billboard/community-based-conservation-areas.png
  public/img/billboard/example-protected-areas-hover.png
  public/img/billboard/example-protected-areas.png
  public/img/billboard/private-reserves-hover.png
  public/img/billboard/private-reserves.png
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/regional/regional-initial-state/regional-layers.js
  src/app/pages/regional/regional-initial-state/regional-legends.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

regroup human pressures in explore && sort both levels in the same way
  src/app/pages/global/global-initial-state/global-panes.js
  src/app/pages/regional/regional-initial-state/regional-panes.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

normalizes layer info input to one file
  src/app/components/katex/katex-component.jsx
  src/app/components/katex/katex-styles.scss
  src/app/components/katex/katex.js
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/components/pane/pane-component.jsx
  src/app/components/pane/pane-styles.scss
  src/app/components/pane/pane.js
  src/app/data/layers-info.js
  src/app/pages/regional/regional-initial-state/regional-legends.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

text updates
  src/app/components/earthometer-multi/earthometer-multi-component.jsx
  src/app/data/layers-info.js
  src/app/pages/global/global-component.jsx
  src/app/pages/home/home-component.jsx
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

back
  package.json
  src/app/pages/home/home-component.jsx
  src/app/pages/home/home-styles.scss
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

rm console logs
  src/app/components/earthometer-multi/components/knob/knob.js
  src/app/components/pane/pane-component.jsx
  src/app/pages/explore/explore-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

removes autoplay
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix double embed error
  src/app/layout/layout-component.jsx
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

rm autoplay
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

adds all taxa to global selector
  src/app/pages/global/global-initial-state/global-sections.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

adds links to info pane
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/data/layers-info.js
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fixes all-taxa bug
  src/app/pages/global/global-initial-state/global-sections.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

unlink info pane entries
  src/app/data/layers-info.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

normalize rarity layers legend min max to 0-1
  src/app/pages/global/global-initial-state/global-legends.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

allow js in iframe
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

allos js in iframe
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add autoplay back
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Update home-component.jsx
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix sandboxed safari error
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

no atto play on safari
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote --semi false: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
