Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Update eslint to match other projects
  .eslintrc
  .eslintrc.yml
  package.json
  yarn.lock
Due: none

First globe position from url
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

linter fixes
  src/app/components/v2/map/map.js
  src/app/pages/root/root-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Fix staging deploy
  Dockerfile
Due: none

Update dependencies
  package.json
  src/app/components/earthometer-multi/earthometer-multi.js
  src/app/components/legend/legend-layers/legend-layers.js
  src/app/components/nav-footer/nav-footer.js
  src/app/components/pane/pane.js
  src/app/components/sidebar/sidebar.js
  src/app/components/slider/index.js
  src/app/pages/global/global.js
  src/app/pages/map/map.js
  src/app/pages/regional/regional.js
  src/app/pages/root/map/map-component.jsx
  src/app/providers/interact/interact.js
  src/app/providers/section/section.js
  src/app/redux-modules/layers/layers.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

added story generating script
  data/README.md
  data/inputs/stories.json
  data/outputs/stories.csv
  data/stories.py
Due: none

Support multiselection categories and multi layers dataset
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/pages/root/categories-list/categories-list.js
  src/app/pages/root/legend/legend-selectors.js
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Stories marker image
  public/img/stories-icon.png
  src/app/pages/root/categories-list/categories-list.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Don't parse json locally
  src/app/redux-modules/datasets/datasets-utils.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Add checkbox component
  src/app/components/v2/checkbox/checkbox-component.jsx
  src/app/components/v2/checkbox/checkbox.js
  src/app/styles/themes/checkbox-theme.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Create dataset-combo component
  src/app/components/v2/dataset-combo/dataset-combo-actions.js
  src/app/components/v2/dataset-combo/dataset-combo-component.jsx
  src/app/components/v2/dataset-combo/dataset-combo-styles.scss
  src/app/components/v2/dataset-combo/dataset-combo.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Check for groups on group-card-list
  src/app/pages/root/group-card-list/group-card-list-component.jsx
  src/app/pages/root/group-card-list/group-card-list-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Clean categories list actions and container
  src/app/pages/root/categories-list/categories-list-actions.js
  src/app/pages/root/categories-list/categories-list.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Update categories list component
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/pages/root/categories-list/categories-list-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Avoid parsing
  src/app/redux-modules/datasets/datasets-thunks.js
  src/app/redux-modules/datasets/datasets-utils.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Delete camel case function from reducer
  src/app/redux-modules/categories/categories-reducers.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

create he switch theme
  src/app/styles/themes/half-earth-switch-theme.scss
Due: stylelint --syntax=scss

Add checkbox styles to be available for the component
  src/app/components/v2/checkbox/checkbox-styles.scss
Due: stylelint --syntax=scss

Fis metadata button
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/pages/root/categories-list/categories-list-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add acordion functionality on group cards
  src/app/pages/root/group-card-list/group-card-list-component.jsx
  src/app/pages/root/group-card-list/group-card-list-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add instructions svgs
  src/app/assets/gestures/desktop_01.svg
  src/app/assets/gestures/desktop_02.svg
  src/app/assets/gestures/desktop_03.svg
  src/app/assets/gestures/mobile_01.svg
  src/app/assets/gestures/mobile_02.svg
  src/app/assets/gestures/mobile_03.svg
  src/app/assets/gestures/mobile_04.svg
  src/app/assets/icons/chevron.svg
Due: none

Create modal instructions component
  src/app/components/v2/modal-instructions/modal-instructions-actions.js
  src/app/components/v2/modal-instructions/modal-instructions-component.jsx
  src/app/components/v2/modal-instructions/modal-instructions-reducers.js
  src/app/components/v2/modal-instructions/modal-instructions-styles.scss
  src/app/components/v2/modal-instructions/modal-instructions.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add modal to reducers, toolbar and root
  src/app/pages/root/root-component.jsx
  src/app/pages/root/toolbar/toolbar.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Add navigation action
  src/app/components/v2/modal-instructions/modal-instructions-component.jsx
  src/app/components/v2/modal-instructions/modal-instructions-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

updated layers
  data/layers/all-taxa-richness.json
  data/layers/amphib-rarity-sa.json
  data/layers/ampib-richness-sa.json
  data/layers/birds-rarity-sa.json
  data/layers/birds-richness-sa.json
  data/layers/birds-richness.json
  data/layers/dragonflies-rarity-sa.json
  data/layers/dragonflies-rich-sa.json
  data/layers/fishes-rarity.json
  data/layers/fishes-richness.json
  data/layers/hummingbirds-rarity.json
  data/layers/hummingbirds-rich.json
  data/layers/mammals-rarity-sa.json
  data/layers/mammals-richness-sa.json
  data/layers/protea-rarity.json
  data/layers/protea-rich.json
  data/layers/reptiles-rarity-sa.json
  data/layers/reptiles-rich-sa.json
  data/layers/restio-rarity-sa.json
  data/layers/restio-rich-sa.json
  data/outputs/layers.csv
  data/process.py
Due: none

Add touch screen check to redux on root component
  src/app/pages/root/root-actions.js
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-reducers.js
  src/app/pages/root/root.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Add isTouchScreen prop to modal instructions, small style change
  src/app/components/v2/modal-instructions/modal-instructions-styles.scss
  src/app/components/v2/modal-instructions/modal-instructions.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Updated chevron icon name to avoid cache
  src/app/assets/icons/icon-chevron.svg
  src/app/components/v2/modal-instructions/modal-instructions-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Remove container logic from card list
  src/app/pages/root/group-card-list/group-card-list.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Update dataset props on datasetcombo component to be a shape
  src/app/components/v2/dataset-combo/dataset-combo-component.jsx
  src/app/pages/root/categories-list/categories-list-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Delete redundant isRequired on dataset proptypes
  src/app/components/v2/dataset-combo/dataset-combo-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

add missing query prop and small styling
  src/app/components/v2/dataset-combo/dataset-combo.js
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/pages/root/categories-list/categories-list-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

layers update
  data/README.md
  data/layers/all-taxa-rarity.json
  data/layers/amphib-rarity-sa.json
  data/layers/amphib-rarity.json
  data/layers/birds-rarity-sa.json
  data/layers/birds-rarity.json
  data/layers/bumblebees-rarity.json
  data/layers/cacti-rarity.json
  data/layers/conifers-rarity.json
  data/layers/dragonflies-rarity-sa.json
  data/layers/dragonflies-rarity.json
  data/layers/fishes-rarity.json
  data/layers/human-pressure-agriculture.json
  data/layers/human-pressure-all.json
  data/layers/human-pressure-rainfed.json
  data/layers/human-pressure-urban.json
  data/layers/reptiles-rarity-sa.json
  data/layers/reptiles-rarity.json
  data/layers/restio-rarity-sa.json
  data/layers/turtles-rarity.json
  data/outputs/layers.csv
  data/process.py
Due: none

updated layers
  data/layers/human-pressure-urban.json
  data/layers/hummingbirds-rarity.json
  data/outputs/layers.csv
Due: none

Fix warning and styles
  src/app/components/v2/modal-instructions/modal-instructions-component.jsx
  src/app/components/v2/modal-instructions/modal-instructions-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Use hot reloading
  config/base.js
  config/development.js
  package.json
  src/main.jsx
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix

Created accordion component
  src/app/components/v2/accordion-card/accordion-card-component.jsx
  src/app/components/v2/accordion-card/accordion-card-styles.scss
  src/app/components/v2/accordion-card/accordion-card.js
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add selector logic and accordion component to group card list
  src/app/pages/root/group-card-list/group-card-list-component.jsx
  src/app/pages/root/group-card-list/group-card-list-selectors.js
  src/app/pages/root/group-card-list/group-card-list-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 120, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Path conditions:
  prettier --parser flow --write --single-quote --print-width 120: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss: any of: *.scss
