Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --print-width 100", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss"
}

Update styles to avoid image stretching
  src/app/components/v2/modal-tutorial/modal-tutorial-styles.scss
Due: stylelint --syntax=scss

Add grabbing cursor
  src/app/components/v2/map/map.js
  src/app/components/v2/modal-metadata/modal-metadata-component.jsx
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/root-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add mol-species-link component
  src/app/pages/root/detail-view/species-to-watch/mol-species-link/mol-species-link-component.jsx
  src/app/pages/root/detail-view/species-to-watch/mol-species-link/mol-species-link.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update species to watch section
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Remove bivariate
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix console type error
  src/app/pages/root/detail-view/species-to-watch/mol-species-link/mol-species-link-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Uses production URL for the share modal
  src/app/components/v2/modal-share/modal-share.js
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Improve the way url was prepared
  src/app/components/v2/modal-share/modal-share.js
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add toolbar tooltips
  src/app/pages/root/toolbar/toolbar-component.jsx
  src/app/pages/root/toolbar/toolbar-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add view from he tooltip
  src/app/pages/root/toolbar/toolbar-component.jsx
  src/app/pages/root/toolbar/toolbar-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add padding
  src/app/pages/root/toolbar/toolbar-styles.scss
Due: stylelint --syntax=scss

Update selectors
  package.json
  yarn.lock
Due: none

Update legend component to add title and url
  public/img/mol_short_logo.png
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add legend title component
  src/app/pages/root/legend/legend-title/legend-title-component.jsx
  src/app/pages/root/legend/legend-title/legend-title-styles.scss
  src/app/pages/root/legend/legend-title/legend-title.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

fetch metadata on update
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add target blank
  src/app/pages/root/legend/legend-title/legend-title-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Avoid crashing if undefined status
  src/app/pages/root/detail-view/detail-view-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Set activemarker to undefined when toogling layers
  src/app/components/v2/dataset-combo/dataset-combo.js
  src/app/pages/root/legend/legend.js
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Avoid type error on modal share
  src/app/components/v2/modal-share/modal-share-component.jsx
  src/app/components/v2/modal-share/modal-share-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Update reserves tooltip checking
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Request render on hover
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update flyto timing
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update no entity hover function
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update legend logo url
  src/app/pages/root/legend/legend-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add map attributions component
  public/img/logo_carto.png
  public/img/logo_cesium.png
  src/app/pages/root/map-attributions/map-attributions-component.jsx
  src/app/pages/root/map-attributions/map-attributions-styles.scss
  src/app/pages/root/map-attributions/map-attributions.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Update styles
  src/app/pages/root/legend/legend-styles.scss
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-styles.scss
  src/app/styles/variables.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Avoid updating perspective when activating protected area tooltips
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Styles change to marker tooltip
  src/app/components/v2/map-tooltip/map-tooltip-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Avoid zombie tooltips
  src/app/components/v2/dataset-combo/dataset-combo.js
  src/app/pages/root/legend/legend.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Primitives initial changes
  src/app/components/v2/map/protected-areas-layer/protected-areas-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

avoid map attributions console errors
  src/app/pages/root/map-attributions/map-attributions-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Remove all first draft
  src/app/components/v2/map/protected-areas-layer/protected-areas-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add show prop to handle areas deletion
  src/app/components/v2/map/protected-areas-layer/protected-areas-layer.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Increase legend z index
  src/app/pages/root/legend/legend-styles.scss
Due: stylelint --syntax=scss

Add analytics to detail view
  src/app/pages/root/detail-view/detail-view-actions.js
  src/app/pages/root/detail-view/detail-view.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add analytics to share modal
  src/app/components/v2/modal-share/modal-share-actions.js
  src/app/components/v2/modal-share/modal-share-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add grid selection analytics
  src/app/pages/root/map/map-actions.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add analytics to layerr toggling
  src/app/components/v2/dataset-combo/dataset-combo-actions.js
  src/app/components/v2/dataset-combo/dataset-combo.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

tweak for Chris
  data/layers/places_to_watch.json
Due: none
