Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

better safari detection
  src/app/pages/home/home-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Remove embeding app in all actions
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global.js
  src/app/pages/regional/regional-actions.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-reducers.js
  src/app/pages/regional/regional.js
  src/app/store.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Keeping mapbox cheap
  .env
  Dockerfile
  config/base.js
  config/production.js
  package.json
  src/app/components/cesium/map/map.js
  src/app/pages/map/map-utils.js
  src/app/pages/regional/regional-initial-state/regional-layers.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Debounced actions
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Env sample
  .env
  .env.sample
  .gitignore
Due: none

removes assign and renames clamp to minClamp and maxClamp
  package-lock.json
  src/app/app.jsx
  src/app/components/cesium/map/map.js
  src/app/components/dropdown/dropdown.js
  src/app/components/earthometer-multi/components/knob/knob.js
  src/app/components/earthometer-multi/earthometer-multi-reducers.js
  src/app/components/pane/pane.js
  src/app/components/slider/slider-container.js
  src/app/pages/global/global.js
  src/app/pages/map/map-reducers.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-reducers.js
  src/app/utils/react.jsx
  src/app/utils/redux.js
  src/app/utils/utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

recover semi-colons
  .eslintrc
  .lintstagedrc
  package-lock.json
Due: none

Include readme
  README.md
Due: none

Remove unused util
  src/app/utils/redux.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Mapbox in Jenkins
  Dockerfile
  Jenkinsfile
Due: none

Fix crash and throtle mouse move
  src/app/components/cesium/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fix regional selection bug
  src/app/pages/regional/regional-actions.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Improve events handler on billboards
  src/app/components/cesium/billboard/billboard.jsx
  src/app/components/sidebar/sidebar-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

adds layers duck file
  src/app/ducks/layers.js
  src/app/reducers.js
  src/app/store.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Include redux-first-router library
  package.json
  yarn.lock
Due: none

Redux first router setup
  src/app/app.jsx
  src/app/reducers.js
  src/app/router.js
  src/app/routes.js
  src/app/store.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

New routes layout
  src/app/layout/app-layout/app-layout-component.jsx
  src/app/layout/app-layout/app-layout-styles.scss
  src/app/layout/app-layout/app-layout.js
  src/app/layout/map-layout/map-layout-component.jsx
  src/app/layout/map-layout/map-layout-styles.scss
  src/app/layout/map-layout/map-layout.js
  src/app/layout/root-layout/root-layout-component.jsx
  src/app/layout/root-layout/root-layout-styles.scss
  src/app/layout/root-layout/root-layout.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

update dependencies
  .babelrc
  config/base.js
  config/development.js
  config/production.js
  package.json
  public/index.html.gz
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Splitting routes
  config/base.js
  config/production.js
  package.json
  src/app/layout/root-layout/root-layout-component.jsx
  src/app/router.js
  stagging-server.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fix mapbox token env
  Jenkinsfile
Due: none

Swap redux-first-router everywhere
  src/app/components/header/header-component.jsx
  src/app/components/legend/legend-layers/legend-layers.js
  src/app/components/locator/locator-actions.js
  src/app/components/locator/locator-component.jsx
  src/app/components/locator/locator.js
  src/app/components/nav-footer/nav-footer-component.jsx
  src/app/components/nav-footer/nav-footer.js
  src/app/components/nav-footer/restart-component.jsx
  src/app/components/sidebar/sidebar-component.jsx
  src/app/layout/app-layout/app-layout-component.jsx
  src/app/layout/app-layout/app-layout-styles.scss
  src/app/layout/app-layout/app-layout.js
  src/app/pages/global/global-component.jsx
  src/app/pages/home/home-component.jsx
  src/app/pages/home/home.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Run stylelint only in staged files
  .lintstagedrc
Due: none

clean map pt.1
  src/app/components/cesium/map/map.js
  src/app/layout/map-layout/map-layout-component.jsx
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Updating eslintrc to not more space on class methods
  .eslintrc
Due: none

Restore section scroll on sidebar change
  src/app/components/sidebar/sidebar-component.jsx
  src/app/components/sidebar/sidebar.js
  src/app/router.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

remove unused map code + clean map pt. 2
  src/app/components/cesium/map/map-component.jsx
  src/app/components/cesium/map/map.js
  src/app/pages/map/map-actions.js
  src/app/pages/map/map-component.jsx
  src/app/pages/map/map-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Update redux-tool dependency
  package.json
  src/app/components/earthometer-multi/earthometer-multi.js
  src/app/components/legend/legend-layers/legend-layers-reducer.js
  src/app/components/legend/legend-layers/legend-layers.js
  src/app/components/logos/logos.js
  src/app/components/nav-footer/nav-footer-reducers.js
  src/app/components/nav-footer/nav-footer.js
  src/app/components/pane/pane.js
  src/app/components/sidebar/sidebar.js
  src/app/components/zoom/zoom.js
  src/app/pages/global/global-reducers.js
  src/app/pages/global/global.js
  src/app/pages/home/home.js
  src/app/pages/map/map-reducers.js
  src/app/pages/map/map.js
  src/app/pages/regional/regional-reducers.js
  src/app/pages/regional/regional.js
  src/app/providers/interact/interact.js
  src/app/providers/section/section.js
  src/app/reducers.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Remove unused reducer
  src/app/components/cesium/map/map.js
  src/app/components/zoom/initial-state.js
  src/app/components/zoom/zoom-actions.js
  src/app/components/zoom/zoom-reducers.js
  src/app/components/zoom/zoom.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Restore missed hover style on map
  src/app/layout/app-layout/app-layout-component.jsx
  src/app/layout/app-layout/app-layout.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Remove duplicated code
  src/app/layout/app-layout/app-layout-component.jsx
  src/app/pages/explore/components/expand/expand-component.jsx
  src/app/pages/explore/components/expand/expand-styles.scss
  src/app/pages/explore/components/expand/expand.js
  src/app/pages/explore/components/info/info-component.jsx
  src/app/pages/explore/components/info/info-styles.scss
  src/app/pages/explore/components/info/info.js
  src/app/pages/explore/components/opacity/components/slider/slider-component.jsx
  src/app/pages/explore/components/opacity/components/slider/slider-styles.scss
  src/app/pages/explore/components/opacity/components/slider/slider.js
  src/app/pages/explore/components/opacity/opacity-component.jsx
  src/app/pages/explore/components/opacity/opacity-styles.scss
  src/app/pages/explore/components/opacity/opacity.js
  src/app/pages/explore/components/pane-toggle/pane-toggle-component.jsx
  src/app/pages/explore/components/pane-toggle/pane-toggle-styles.scss
  src/app/pages/explore/components/pane-toggle/pane-toggle.js
  src/app/pages/explore/components/row/row-component.jsx
  src/app/pages/explore/components/row/row-styles.scss
  src/app/pages/explore/components/row/row.js
  src/app/pages/explore/components/toggle/toggle-component.jsx
  src/app/pages/explore/components/toggle/toggle-styles.scss
  src/app/pages/explore/components/toggle/toggle.js
  src/app/pages/explore/explore-actions.js
  src/app/pages/explore/explore-component.jsx
  src/app/pages/explore/explore-initial-state.js
  src/app/pages/explore/explore-reducers.js
  src/app/pages/explore/explore.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

New layer model using same guidelines
  src/app/ducks/layers.js
  src/app/providers/layers/layers-actions.js
  src/app/providers/layers/layers-initial-state.js
  src/app/providers/layers/layers-reducers.js
  src/app/providers/layers/layers.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Update readme
  README.md
Due: none

Remove react router from dependencies
  package.json
Due: none

Move layers to redux-modules
  src/app/reducers.js
  src/app/redux-modules/layers/layers-actions.js
  src/app/redux-modules/layers/layers-initial-state.js
  src/app/redux-modules/layers/layers-reducers.js
  src/app/redux-modules/layers/layers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Use range to generate slider layer
  src/app/pages/global/global-initial-state/global-layers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Generate species layers in reducer initial state
  .eslintrc
  src/app/reducers.js
  src/app/redux-modules/layers/layers-initial-state.js
  src/app/redux-modules/layers/layers-utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Layers thunk
  src/app/reducers.js
  src/app/redux-modules/layers/layers-actions.js
  src/app/redux-modules/layers/layers-reducers.js
  src/app/redux-modules/layers/layers-thunks.js
  src/app/router.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

clean map pt. 3
  src/app/components/cesium/image-provider/image-provider.jsx
  src/app/components/cesium/layer/layer.jsx
  src/app/components/cesium/map/map.js
  src/app/layout/map-layout/map-layout-component.jsx
  src/app/pages/map/map-component.jsx
  src/app/pages/regional/regional-initial-state/regional-layers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

clean map pt. 4
  src/app/components/cesium/billboard/billboard.jsx
  src/app/components/cesium/layer/layer.jsx
  src/app/components/cesium/map/map-component.jsx
  src/app/components/cesium/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote --semi false: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
