Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

desactivate toggles
  src/app/styles/themes/toggle.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: close event handler
  src/app/components/earthometer/earthometer-component.jsx
  src/app/components/sidebar/sidebar-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: slider scroll wiggle
  src/app/components/earthometer/earthometer-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: after width
  src/app/components/sidebar/sidebar-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: prevents printing a 0 when length is 0
  src/app/layout/layout.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

update data
  src/app/components/spider-chart/spider-chart.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: wrong z index and uses vars
  src/app/components/earthometer/earthometer-styles.scss
  src/app/components/nav-footer/nav-footer-styles.scss
  src/app/components/pop-up/image-content/image-content-styles.scss
  src/app/components/pop-up/pop-up-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: prevents crash on intro transition
  src/app/layout/layout.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

update svg styles
  src/app/pages/global/linechart.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

update line and tet styles on svg
  public/img/graph/line_graph.svg
  src/app/pages/global/linechart.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

text styles on svg
  src/app/pages/global/linechart.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

improve styles
  src/app/pages/global/linechart.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: includes a close button inside the open dropdown
  src/app/components/explorable/dropdown/dropdown-component.jsx
  src/app/components/explorable/dropdown/dropdown.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: make after clickable
  src/app/components/explorable/dropdown/dropdown.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix padding top on sidebar
  src/app/components/sidebar/sidebar-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix top floodmap
  src/app/components/floodmap/floodmap-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

change z index to variables
  src/app/components/earthometer/earthometer-styles.scss
  src/app/components/legend/legend-styles.scss
  src/app/components/sidebar/sidebar-styles.scss
  src/app/components/slider/slider-styles.scss
  src/app/pages/local/local-styles.scss
  src/app/styles/pages.scss
  src/app/styles/themes/dropdown.scss
  src/app/styles/ui.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: adds correct background and handler to slider
  public/img/earthometer-background.svg
  public/img/earthometer-handle.svg
  src/app/components/earthometer/earthometer-styles.scss
  src/app/components/earthometer/slider-theme.scss
  src/app/components/sidebar/button/button-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: dropdown and footer z-index
  src/app/components/nav-footer/nav-footer-styles.scss
  src/app/styles/themes/dropdown.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: fixes crash on intro transition
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: removes unnecessary actions
  src/app/pages/local/local-actions.js
  src/app/pages/local/local-reducers.js
  src/app/pages/local/local.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: creates actions needed to fetch and set where to protect data
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global-reducers.js
  src/app/pages/global/global.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: order scenarios
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix resize error on sidebar text and charts
  src/app/components/sidebar/sidebar-styles.scss
  src/app/pages/global/linechart.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

include links
  src/app/components/nav-footer/nav-footer-component.jsx
  src/app/components/nav-footer/nav-footer-modal-content.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add vizzuality logo
  public/img/partners/logo_vizz.png
  src/app/components/nav-footer/nav-footer-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: connect data to spider and spider to slider
  src/app/components/spider-chart/spider-chart.jsx
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: radar colors
  src/app/components/spider-chart/spider-chart.jsx
  src/app/pages/global/global.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: refactor dimensions
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

change landing page styles
  public/img/home/iconPlanet.png
  src/app/pages/home/home-component.jsx
  src/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix
  src/app/pages/home/home-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: makes video full screen
  src/app/pages/intro/intro-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix partners styles
  src/app/components/nav-footer/nav-footer-modal-content.jsx
  src/app/components/nav-footer/nav-footer-styles.scss
  src/app/components/sidebar/sidebar-styles.scss
  src/app/pages/global/linechart.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: adds legend to global spider chart
  src/app/pages/global/global-component.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix slider responsive and spider chart
  src/app/components/earthometer/earthometer-component.jsx
  src/app/components/earthometer/earthometer-styles.scss
  src/app/components/sidebar/button/button-styles.scss
  src/app/components/sidebar/sidebar-styles.scss
  src/app/components/spider-chart/spider-chart.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: includes tooltip in radar
  src/app/components/spider-chart/spider-chart.jsx
  src/app/pages/global/global-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix heder sidebar styles
  src/app/components/earthometer/earthometer-styles.scss
  src/app/components/sidebar/button/button-styles.scss
  src/app/components/sidebar/sidebar-styles.scss
  src/app/styles/variables.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix gradient styles
  src/app/components/sidebar/sidebar-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix react DOM complainings
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote --semi false: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
