Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: refactors multipleLegend renderer adds support for small gradient legend
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/global/global-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: update floodmap
  public/img/floodmap.png
Due: none

remove unused dependency
  src/app/components/nav-footer/nav-footer-styles.scss
  src/app/components/placeholder/placeholder-component.jsx
  src/app/components/placeholder/placeholder.js
  src/app/pages/global/global-component.jsx
  src/app/pages/regional/regional-component.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

keep regional zoom level steady
  src/app/data/zoom-levels.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: make logos DRY asf
  src/app/components/logos/nav-footer-modal-content.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: includes new logos/partners/sections
  public/img/partners/partner_image/1.png
  public/img/partners/partner_image/33.png
  public/img/partners/partner_image/34.png
  public/img/partners/partner_image/35.jpg
  src/app/components/logos/nav-footer-modal-content.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: text edits
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: render pop-up inside a React portal to avoid z-index fights
  src/app/components/pop-up/pop-up-component.jsx
  src/tpl.ejs
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

update
  Jenkinsfile
  k8s/production/service.yaml
  k8s/staging/deployment.yaml
  k8s/staging/service.yaml
Due: none

update deploy to prod and staigng
  Jenkinsfile
  k8s/production/deployment.yaml
  k8s/production/hpa.yaml
  k8s/production/service.yaml
  k8s/staging/deployment.yaml
  k8s/staging/service.yaml
Due: none

update jenkinsfile
  Jenkinsfile
Due: none

fix: use aside
  src/app/components/pop-up/pop-up-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: updates billboards coordinates
  src/app/pages/local/initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: makes dropdown lowercased
  src/app/components/explorable/dropdown/dropdown.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: rename image
  public/img/popup/04_Okavango_steve_w_elephant_mombo_2_JKydd.png
Due: none

fix: recovers brown legend color
  src/app/components/legend/legend-layers/legend-layers-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: attr margin
  src/app/components/pop-up/image-content/image-content-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: center description
  src/app/components/pop-up/image-content/image-content-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: style logos
  public/img/partners/partner_image/1.png
  public/img/partners/partner_image/33.png
  public/img/partners/partner_image/34.png
  public/img/partners/partner_image/35.png
Due: none

fix: restyles legends modal + includes new texts
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

final footer design
  public/img/partners/logo_vizz_white.png
  public/img/partners/mol_logo_white.png
  public/img/partners/wilson_white.png
  public/img/punticos.svg
  src/app/components/cesium/map/map-styles.scss
  src/app/components/logos/logos-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

small design fixes
  src/app/components/legend/legend-layers/legend-layers-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

correct camera position
  src/app/data/zoom-levels.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: adds dropdown to locator
  src/app/components/dropdown/dropdown-component.jsx
  src/app/components/dropdown/dropdown.js
  src/app/components/dropdown/dropdown.scss
  src/app/components/explorable/explorable.js
  src/app/components/locator/locator-component.jsx
  src/app/components/locator/locator-styles.scss
  src/app/layout/layout-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add fade in to birds
  src/app/components/birds/cesium-bird.js
  src/app/components/birds/lib/flock.js
  src/app/components/birds/lib/utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

better server
  stagging-server.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: dropdown default styles + locator dropdown theme
  src/app/components/dropdown/dropdown-component.jsx
  src/app/components/dropdown/dropdown.scss
  src/app/components/locator/locator-component.jsx
  src/app/components/locator/locator-dropdown-theme.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: after in dropdown label
  src/app/components/locator/locator-dropdown-theme.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: moves options to a container
  src/app/components/locator/locator-component.jsx
  src/app/components/locator/locator.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: refactors legend layer classifier + adds human pressure legend
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/layout/layout.js
  src/app/pages/global/global-initial-state.js
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: include google analytics script
  config/base.js
  src/tpl.ejs
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: creates analytics provider
  src/app/providers/analytics/analytics-actions.js
  src/app/providers/analytics/analytics.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: adds home analytics event
  src/app/pages/home/home-component.jsx
  src/app/pages/home/home-styles.scss
  src/app/pages/home/home.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: includes analytics middleware + nav-footer events
  src/app/components/nav-footer/nav-footer-component.jsx
  src/app/components/nav-footer/nav-footer.js
  src/app/components/pop-up/pop-up-actions.js
  src/app/components/sidebar/sidebar-actions.js
  src/app/components/sidebar/sidebar-component.jsx
  src/app/layout/layout-component.jsx
  src/app/pages/map/map-component.jsx
  src/app/providers/analytics/analytics-actions.js
  src/app/providers/analytics/analytics-middleware.js
  src/app/providers/analytics/analytics.js
  src/app/store.js
  src/tpl.ejs
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: adds biodiversity dropdown events
  src/app/pages/regional/regional-actions.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: includes regional toggle layers events
  src/app/components/sidebar/sidebar-component.jsx
  src/app/pages/regional/regional-actions.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: adds global select + toggle events
  src/app/pages/global/global-actions.js
  src/app/pages/regional/regional-actions.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: includes earthometer event
  src/app/components/earthometer/earthometer-actions.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Path conditions:
  prettier --parser flow --write --single-quote --semi false: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss ./src/**/*.scss: any of: *.scss
