Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Use species placeholder image
  public/img/species-placeholder@2x.png
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Restore the previous cell grid style when different grids
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix cell id for marine landscapes
  src/app/selectors/location-selectors.js
  src/app/services/mol.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Fix persistent gridCell bug
  src/app/components/v2/map/map.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add alternative key to avoid react same key error
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

added landscape opactity key
  data/layers/amphib-rarity-sa.json
  data/layers/ampib-richness-sa.json
  data/layers/birds-rarity-sa.json
  data/layers/birds-richness-sa.json
  data/layers/buterflies-rarity-sa.json
  data/layers/buterflies-richness-sa.json
  data/layers/conifers-richness-sa.json
  data/layers/dragonflies-rarity-sa.json
  data/layers/dragonflies-rich-sa.json
  data/layers/fishing-all.json
  data/layers/fishing-fixed.json
  data/layers/fishing-longlines.json
  data/layers/fishing-other.json
  data/layers/fishing-purse.json
  data/layers/fishing-trawlers.json
  data/layers/human-pressure-agriculture.json
  data/layers/human-pressure-all.json
  data/layers/human-pressure-rainfed.json
  data/layers/human-pressure-urban.json
  data/layers/hummingbirds-rarity.json
  data/layers/hummingbirds-rich.json
  data/layers/mammals-rarity-sa.json
  data/layers/mammals-rarity.json
  data/layers/mammals-richness-sa.json
  data/layers/protea-rarity.json
  data/layers/protea-rich.json
  data/layers/protected-biosphere.json
  data/layers/protected-community.json
  data/layers/protected-other.json
  data/layers/protected-strict.json
  data/layers/reptiles-rarity-sa.json
  data/layers/reptiles-rich-sa.json
  data/layers/restio-rarity-sa.json
  data/layers/restio-rich-sa.json
  data/outputs/layers.csv
  data/process.py
Due: none

Adjust rarity Y axis legend on bivariate
  src/app/pages/root/detail-view/rarity-richness/histogram/histogram-styles.scss
Due: stylelint --syntax=scss

Hack label to show all taxa, when it's for all.
  src/app/pages/root/detail-view/detail-view-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add selector for protected areas
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

wip
  src/app/components/v2/map/grid-layer/grid-layer.js
  src/app/components/v2/map/protected-areas-layer/protected-areas-layer.js
  src/app/pages/root/map/map-component.jsx
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

sort datasets by position
  src/app/pages/root/categories-list/categories-list-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Clean unused logic from group card component
  src/app/pages/root/group-card-list/group-card-list-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add category info to layer object
  src/app/selectors/datasets-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add category info to active layers
  src/app/components/v2/dataset-combo/dataset-combo.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Filter terrestrial and aquatic layers from irl on terrain
  src/app/pages/root/map/map-component.jsx
  src/app/redux-modules/datasets/datasets-utils.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Order on selector
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/selectors/categories-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Filter categories on terrain mode sidebar by grid cell type
  src/app/pages/root/detail-view/detail-view-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add stories fetch and redux logic
  src/app/redux-modules/stories/stories-actions.js
  src/app/redux-modules/stories/stories-reducers.js
  src/app/redux-modules/stories/stories-thunks.js
  src/app/redux-modules/stories/stories.js
  src/app/selectors/stories-selectors.js
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add stories images
  public/img/stories-icon-hover.png
  public/img/stories-icon-hover@2x.png
  src/app/reducers.js
  src/app/router.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add tooltip component
  src/app/components/v2/map-tooltip/map-tooltip-component.jsx
  src/app/components/v2/map-tooltip/map-tooltip-styles.scss
  src/app/components/v2/map-tooltip/map-tooltip.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add fonts variables
  src/app/styles/variables.scss
Due: stylelint --syntax=scss

Get active tooltip from query
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add stories layer
  src/app/components/v2/map/stories-layer/stories-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Clear taxa from query after exit landscape. CellId proptype string.
  src/app/pages/root/detail-view/detail-view.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update yarn lock
  yarn.lock
Due: none

Add pointer on hover events over entities
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Update layers opacity on landscape
  src/app/components/v2/dataset-combo/dataset-combo-component.jsx
  src/app/components/v2/dataset-combo/dataset-combo.js
  src/app/pages/root/detail-view/detail-view.js
  src/app/pages/root/detail-view/progress-card/progress-card-component.jsx
  src/app/pages/root/map/map-component.jsx
  src/app/redux-modules/datasets/datasets-utils.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

added interaction layers
  data/layers/protected-biosphere-interact.json
  data/layers/protected-community-interact.json
  data/layers/protected-other-interact.json
  data/layers/protected-strict-interact.json
  data/outputs/layers.csv
Due: none

Add partners modal to v2 root
  public/img/punticos.svg
  src/app/components/logos/logos-component.jsx
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

mapp tooltip styles
  src/app/components/v2/map-tooltip/map-tooltip-component.jsx
  src/app/components/v2/map-tooltip/map-tooltip-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Add places to watch images
  public/img/places-to-watch/1.jpg
  public/img/places-to-watch/10.jpg
  public/img/places-to-watch/11.jpg
  public/img/places-to-watch/12.jpg
  public/img/places-to-watch/13.jpg
  public/img/places-to-watch/14.jpg
  public/img/places-to-watch/15.jpg
  public/img/places-to-watch/16.jpg
  public/img/places-to-watch/17.jpg
  public/img/places-to-watch/18.jpg
  public/img/places-to-watch/19.jpg
  public/img/places-to-watch/2.jpg
  public/img/places-to-watch/20.jpg
  public/img/places-to-watch/21.jpg
  public/img/places-to-watch/22.jpg
  public/img/places-to-watch/23.jpg
  public/img/places-to-watch/24.jpg
  public/img/places-to-watch/25.jpg
  public/img/places-to-watch/26.jpg
  public/img/places-to-watch/27.jpg
  public/img/places-to-watch/28.jpg
  public/img/places-to-watch/29.jpg
  public/img/places-to-watch/3.jpg
  public/img/places-to-watch/30.jpg
  public/img/places-to-watch/31.jpg
  public/img/places-to-watch/32.jpg
  public/img/places-to-watch/33.jpg
  public/img/places-to-watch/34.jpg
  public/img/places-to-watch/35.jpg
  public/img/places-to-watch/36.jpg
  public/img/places-to-watch/4.jpg
  public/img/places-to-watch/5.jpg
  public/img/places-to-watch/6.jpg
  public/img/places-to-watch/7.jpg
  public/img/places-to-watch/8.jpg
  public/img/places-to-watch/9.jpg
Due: none

Add stories images
  public/img/stories/04wilson-master768-640.jpg
  public/img/stories/Apodemia_mormo_langei-02-640w.jpg
  public/img/stories/Gorongosa_Wild_Dogs_2018.jpg
  public/img/stories/Guanaco_de_San_Carlos-640w-cr2.jpg
  public/img/stories/snailfish.jpg
Due: none

wip
  src/app/components/v2/map-tooltip/map-tooltip-component.jsx
  src/app/components/v2/map/map.js
  src/app/components/v2/map/stories-layer/stories-layer.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
  src/app/pages/root/root-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

wip
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add places data
  src/app/reducers.js
  src/app/redux-modules/places/places-actions.js
  src/app/redux-modules/places/places-reducers.js
  src/app/redux-modules/places/places-thunks.js
  src/app/redux-modules/places/places.js
  src/app/router.js
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add places Icons and images
  public/img/flag-icon-hover.png
  public/img/flag-icon-hover@2x.png
  public/img/flag-icon.png
  public/img/flag-icon@2x.png
  public/img/places/1.jpg
  public/img/places/10.jpg
  public/img/places/11.jpg
  public/img/places/12.jpg
  public/img/places/13.jpg
  public/img/places/14.jpg
  public/img/places/15.jpg
  public/img/places/16.jpg
  public/img/places/17.jpg
  public/img/places/18.jpg
  public/img/places/19.jpg
  public/img/places/2.jpg
  public/img/places/20.jpg
  public/img/places/21.jpg
  public/img/places/22.jpg
  public/img/places/23.jpg
  public/img/places/24.jpg
  public/img/places/25.jpg
  public/img/places/26.jpg
  public/img/places/27.jpg
  public/img/places/28.jpg
  public/img/places/29.jpg
  public/img/places/3.jpg
  public/img/places/30.jpg
  public/img/places/31.jpg
  public/img/places/32.jpg
  public/img/places/33.jpg
  public/img/places/34.jpg
  public/img/places/35.jpg
  public/img/places/36.jpg
  public/img/places/4.jpg
  public/img/places/5.jpg
  public/img/places/6.jpg
  public/img/places/7.jpg
  public/img/places/8.jpg
  public/img/places/9.jpg
Due: none

Add places layer
  src/app/components/v2/map/places-layer/places-layer.js
  src/app/components/v2/map/stories-layer/stories-layer.js
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

Add zoom on double click
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix

added all protection layer and modified stories
  data/layers/protected-all-interact.json
  data/layers/protected-all.json
  data/layers/stories.json
  data/outputs/layers.csv
Due: none

Changes on detail view sidebar
  src/app/assets/icons/icon-cross.svg
  src/app/pages/root/detail-view/detail-view-component.jsx
  src/app/pages/root/detail-view/detail-view-selectors.js
  src/app/pages/root/detail-view/detail-view-styles.scss
  src/app/pages/root/detail-view/rarity-richness/histogram/histogram-component.jsx
  src/app/pages/root/detail-view/rarity-richness/histogram/histogram-styles.scss
  src/app/pages/root/detail-view/rarity-richness/rarity-richness-component.jsx
  src/app/pages/root/detail-view/species-to-watch/species-to-watch-styles.scss
Due: prettier --parser flow --write --single-quote --print-width 100, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss

Path conditions:
  prettier --parser flow --write --single-quote --print-width 100: any of: *.{js,jsx}
  eslint --ext .js --ext .jsx --fix: any of: *.{js,jsx}
  stylelint --syntax=scss: any of: *.scss
