Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --semi false", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Keep terrain reference commented
  src/app/components/cesium/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

prevent missing tiles errors
  src/app/components/cesium/image-provider/image-provider.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Add birds flocking component and lib
  src/app/components/birds/birds.jsx
  src/app/components/birds/lib/boid.js
  src/app/components/birds/lib/vector.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix landing page sideba
  src/app/components/sidebar/sidebar-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

update links logos
  src/app/components/nav-footer/nav-footer-modal-content.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

slightly bigger bird
  src/app/components/birds/birds.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: includes taxa names and tooltip in global
  src/app/components/spider-chart/spider-chart.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global.js
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: add tooltip to regional spider
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add new url in
  src/app/pages/global/global-initial-state.js
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: add minimum cap on slider
  src/app/components/earthometer/earthometer-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add mistakenly ignored files
  public/lib/Cesium/Assets/Textures/maki/roadblock.png
  src/app/components/birds/lib/flock.js
  src/app/components/cesium/canvas/lib/flock.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

feat: include legend in regional spider
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

birds glb file in
  public/img/triangulos.glb
Due: none

fix: adds correct color in legend
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/global/global-initial-state.js
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add new urban development layer
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

include legends modal
  src/app/components/legend/legend-layers/initial-state.js
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
  src/app/components/legend/legend-layers/legend-layers-reducer.js
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/components/legend/legend-layers/legend-layers.js
  src/app/components/legend/legend-styles.scss
  src/app/components/pop-up/pop-up-actions.js
  src/app/components/pop-up/pop-up-styles.scss
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: includes tooltip styles
  src/app/components/spider-chart/spider-chart.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

add missing extension to layer
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: removes history.goBack and includes back destination
  src/app/components/nav-footer/nav-footer-component.jsx
  src/app/components/nav-footer/nav-footer-styles.scss
  src/app/components/nav-footer/nav-footer.js
  src/app/pages/global/global-component.jsx
  src/app/pages/local/local-component.jsx
  src/app/pages/regional/regional-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix legend styles
  public/img/partners/wilson.png
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers-modal-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/components/legend/legend-styles.scss
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

update ew wilson image
  public/img/partners/wilson.png
  src/app/components/nav-footer/nav-footer-component.jsx
  src/app/components/nav-footer/nav-footer-modal-content.jsx
  src/app/components/nav-footer/nav-footer-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

delete nat image
  public/img/partners/nat_geo_logo.png
Due: none

fix legend styles
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/components/legend/legend-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

improve landing page styles
  public/img/button.svg
  public/img/button_01.svg
  public/img/button_02.svg
  src/app/pages/home/home-component.jsx
  src/app/pages/home/home-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

delete old zoom component
  src/app/components/zoom/zoom-component.jsx
  src/app/components/zoom/zoom-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

remove old zoom component
  src/app/components/zoom/zoom.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add sub-route zoom levels
  src/app/components/cesium/map/map.js
  src/app/data/zoom-levels.js
  src/app/layout/layout-component.jsx
  src/app/layout/layout.js
  src/app/pages/local/local.js
  src/app/pages/map/map-component.jsx
  src/app/utils/utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

disable zooming when it didnt change
  src/app/components/cesium/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix button inactive in home
  src/app/pages/home/home-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

feat: makes multiple tooltips possible
  src/app/components/spider-chart/spider-chart.jsx
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global.js
  src/app/pages/regional/regional-initial-state.js
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: removes inline styles
  src/app/components/spider-chart/spider-chart.jsx
  src/app/styles/ui.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

feat: includes min/max numbers in legend
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/global/global-initial-state.js
  src/app/pages/regional/regional-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fix: font sizes
  src/app/components/legend/legend-layers/legend-layers-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

WIP birds animation
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: close sidebar on click
  src/app/components/sidebar/sidebar-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

fix: conifers gradietn
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/pages/global/global-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

fixing post-merge
  src/app/components/birds/birds.jsx
  src/app/components/birds/lib/boid.js
  src/app/pages/local/local-component.jsx
  src/app/pages/local/local.js
  src/app/pages/map/map-component.jsx
  src/app/utils/utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: where to protect multiple visible layers issue + legend
  src/app/layout/layout.js
  src/app/pages/global/global-initial-state.js
  src/app/pages/global/global-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

local birds live by themselves now
  src/app/components/cesium/billboard/billboard.jsx
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: replaces text
  src/app/components/earthometer/earthometer-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix
