Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --semi false", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

Legend wri component
  config/base.js
  package.json
  src/app/app.jsx
  src/app/assets/icons/info.svg
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend-styles.scss
  src/app/pages/root/legend/legend.js
  src/app/pages/root/legend/toolbar/toolbar-component.jsx
  src/app/pages/root/legend/toolbar/toolbar-styles.scss
  src/app/pages/root/legend/toolbar/toolbar.js
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-selectors.js
  src/app/pages/root/root-styles.scss
  src/app/redux-modules/datasets/datasets-utils.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Metadata modal component
  src/app/components/v2/modal-metadata/modal-metadata-actions.js
  src/app/components/v2/modal-metadata/modal-metadata-component.jsx
  src/app/components/v2/modal-metadata/modal-metadata-reducers.js
  src/app/components/v2/modal-metadata/modal-metadata-selectors.js
  src/app/components/v2/modal-metadata/modal-metadata-styles.scss
  src/app/components/v2/modal-metadata/modal-metadata.js
  src/app/reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Group by category and show them by dataset and layer
  src/app/assets/icons/chevron.svg
  src/app/assets/icons/icon-arrow-down.svg
  src/app/assets/icons/icon-arrow-up.svg
  src/app/assets/icons/icon-drag-dots.svg
  src/app/pages/root/categories-list/categories-list-actions.js
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/pages/root/categories-list/categories-list-selectors.js
  src/app/pages/root/categories-list/categories-list-styles.scss
  src/app/pages/root/categories-list/categories-list.js
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend-styles.scss
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-selectors.js
  src/app/pages/root/root-styles.scss
  src/app/pages/root/root.js
  src/app/redux-modules/categories/categories-thunks.js
  src/app/redux-modules/datasets/datasets-thunks.js
  src/app/redux-modules/datasets/datasets-utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Reusing selectors to show the legend
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/pages/root/categories-list/categories-list-selectors.js
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend-selectors.js
  src/app/pages/root/legend/legend.js
  src/app/selectors/categories-selectors.js
  src/app/selectors/datasets-selectors.js
  src/app/selectors/location-selectors.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Update prettier line-length
  .lintstagedrc
Due: none

Connect legend to state
  src/app/assets/icons/icon-cross.svg
  src/app/assets/icons/icon-hide.svg
  src/app/assets/icons/icon-info.svg
  src/app/assets/icons/icon-opacity.svg
  src/app/assets/icons/icon-show.svg
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/pages/root/categories-list/categories-list.js
  src/app/pages/root/legend/legend-actions.js
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend-selectors.js
  src/app/pages/root/legend/legend.js
  src/app/pages/root/legend/toolbar/toolbar-component.jsx
  src/app/pages/root/legend/toolbar/toolbar-styles.scss
  src/app/pages/root/legend/toolbar/toolbar.js
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-styles.scss
  src/app/redux-modules/datasets/datasets-utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Legend styles
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update he-components dependency
  package.json
  yarn.lock
Due: none

Legend connected to carto and map placeholder
  package.json
  src/app/pages/root/legend/legend-selectors.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
  src/app/pages/root/map/map-styles.scss
  src/app/pages/root/map/map.js
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-styles.scss
  src/app/redux-modules/datasets/datasets-utils.js
  src/app/services/carto.js
  src/app/styles/variables.scss
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show layers on map
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Show loading spinner on loading chunks
  src/app/layout/root-layout/root-layout-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fix first loading layers loaded
  src/app/components/cesium/map/map.js
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Rename mapStateToProps
  src/app/components/v2/modal-metadata/modal-metadata-selectors.js
  src/app/components/v2/modal-metadata/modal-metadata.js
  src/app/pages/root/categories-list/categories-list-selectors.js
  src/app/pages/root/legend/legend-selectors.js
  src/app/pages/root/map/map-selectors.js
  src/app/pages/root/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Show categories in order
  src/app/selectors/categories-selectors.js
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fix layer manager bug keeping old layers
  src/app/redux-modules/datasets/datasets-utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Support multilayer and remove layers from same category on active other
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/pages/root/categories-list/categories-list-styles.scss
  src/app/pages/root/categories-list/categories-list.js
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Use layers object in url with nested parsing library
  package.json
  src/app/pages/root/categories-list/categories-list.js
  src/app/pages/root/legend/legend.js
  src/app/redux-modules/datasets/datasets-utils.js
  src/app/router.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fix map crash when no prop
  src/app/components/cesium/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Include icon to layer markers
  public/img/plege-icon.png
Due: none

Fix legend and sidebar styles
  src/app/pages/root/legend/legend-styles.scss
  src/app/pages/root/root-styles.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Opacity and visibility for layers
  src/app/pages/root/categories-list/categories-list.js
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend-selectors.js
  src/app/pages/root/legend/legend.js
  src/app/redux-modules/datasets/datasets-actions.js
  src/app/redux-modules/datasets/datasets-reducers.js
  src/app/redux-modules/datasets/datasets-utils.js
  src/app/selectors/categories-selectors.js
  src/app/selectors/datasets-selectors.js
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Simplified and performant map component
  src/app/components/v2/map/map-component.jsx
  src/app/components/v2/map/map-styles.scss
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-component.jsx
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Sorting layers in legend
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend-selectors.js
  src/app/pages/root/legend/legend.js
  src/app/redux-modules/datasets/datasets-utils.js
  src/app/selectors/datasets-selectors.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fix human pressure legend changes properties
  src/app/pages/root/legend/legend.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Match eslint config with vizzuality
  .eslintrc
  package.json
  yarn.lock
Due: none

Toolbar component
  .eslintrc
  src/app/assets/icons/globe.svg
  src/app/assets/icons/layers.svg
  src/app/assets/icons/locate.svg
  src/app/assets/icons/share.svg
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-styles.scss
  src/app/pages/root/toolbar/toolbar-actions.js
  src/app/pages/root/toolbar/toolbar-component.jsx
  src/app/pages/root/toolbar/toolbar-selectors.js
  src/app/pages/root/toolbar/toolbar-styles.scss
  src/app/pages/root/toolbar/toolbar.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show grid layer
  .eslintrc
  src/app/pages/root/legend/legend-component.jsx
  src/app/pages/root/legend/legend-selectors.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
  src/app/pages/root/toolbar/toolbar-component.jsx
  src/app/pages/root/toolbar/toolbar-selectors.js
  src/app/pages/root/toolbar/toolbar.js
  src/app/redux-modules/datasets/datasets-thunks.js
  src/app/selectors/categories-selectors.js
  src/app/selectors/datasets-selectors.js
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fix crash when no valid data params
  src/app/pages/root/map/map-component.jsx
  src/app/redux-modules/datasets/datasets-utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Use camelcase in service and fix json parse
  src/app/redux-modules/datasets/datasets-utils.js
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Updated yarn.lock
  public/index.html.gz
  yarn.lock
Due: none

Created group card list component
  src/app/pages/root/group-card-list/group-card-list-component.jsx
  src/app/pages/root/group-card-list/group-card-list-selectors.js
  src/app/pages/root/group-card-list/group-card-list-styles.scss
  src/app/pages/root/group-card-list/group-card-list.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Updated categories list component
  src/app/pages/root/categories-list/categories-list-component.jsx
  src/app/pages/root/categories-list/categories-list-selectors.js
  src/app/pages/root/categories-list/categories-list-styles.scss
  src/app/redux-modules/categories/categories-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Add styles variables
  src/app/styles/variables.scss
Due: stylelint --syntax=scss ./src/**/*.scss

Add new fields to categoriesQuery
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fix selection when activating grid
  src/app/pages/root/toolbar/toolbar-selectors.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Layers events interaction
  src/app/pages/root/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Save map coordinates in url
  src/app/components/v2/map/map.js
  src/app/pages/root/map/map-actions.js
  src/app/pages/root/map/map-component.jsx
  src/app/pages/root/map/map-selectors.js
  src/app/pages/root/map/map.js
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-selectors.js
  src/app/pages/root/root.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Updated root component
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

added new layers for fishing and human pressure
  data/layers/fishing-all.json
  data/layers/fishing-fixed.json
  data/layers/fishing-longlines.json
  data/layers/fishing-purse.json
  data/layers/fishing-squid.json
  data/layers/fishing-trawlers.json
  data/layers/human-pressure-all.json
  data/outputs/layers.csv
Due: none
