Repository Vizzuality/half-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

.lintstagedrc:

{
  "*.{js,jsx}": ["prettier --parser flow --write --single-quote --semi false", "eslint --ext .js --ext .jsx --fix", "git add"],
  "*.scss": "stylelint --syntax=scss ./src/**/*.scss"
}

clean map pt. 4
  README.md
  src/app/components/cesium/map/map.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: legend + sidebar cotainers
  src/app/components/cesium/map/map.js
  src/app/components/sidebar/sidebar.js
  src/app/layout/app-layout/app-layout.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: rename redux export to reduxConfig
  src/app/components/earthometer-multi/earthometer-multi.js
  src/app/components/legend/legend-layers/legend-layers.js
  src/app/components/nav-footer/nav-footer.js
  src/app/components/pane/pane.js
  src/app/components/sidebar/sidebar.js
  src/app/pages/global/global.js
  src/app/pages/map/map.js
  src/app/pages/regional/regional.js
  src/app/providers/interact/interact.js
  src/app/providers/section/section.js
  src/app/reducers.js
  src/app/redux-modules/layers/layers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Include example of layer legend data
  src/app/redux-modules/layers/layers-data.js
  src/app/redux-modules/layers/layers-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Helper to get carto url
  .eslintrc
  src/app/redux-modules/layers/layers-utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Sert layer options visibility and carto url
  src/app/redux-modules/layers/layers-actions.js
  src/app/redux-modules/layers/layers-reducers.js
  src/app/redux-modules/layers/layers-thunks.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

connect map route to url
  package.json
  src/app/components/cesium/map/map.js
  src/app/layout/map-layout/map-layout-component.jsx
  src/app/layout/map-layout/map-layout.js
  src/app/pages/map/map-component.jsx
  src/app/redux-modules/layers/layers-reducers.js
  src/app/redux-modules/layers/layers-thunks.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

add support for 1km layers
  src/app/redux-modules/layers/layers-thunks.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

adds all layers to layers duck
  src/app/layout/map-layout/map-layout-component.jsx
  src/app/layout/map-layout/map-layout-styles.scss
  src/app/redux-modules/layers/layers-initial-state.js
  src/app/redux-modules/layers/layers-utils.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Layers legend data
  src/app/redux-modules/layers/layers-data.js
  src/app/redux-modules/layers/layers-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Remove unused provider
  src/app/providers/selectors/selectors-actions.js
  src/app/providers/selectors/selectors.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Show layers legend on map iframe version
  src/app/components/legend/legend-layers/legend-layers-component.jsx
  src/app/components/legend/legend-layers/legend-layers-styles.scss
  src/app/layout/map-layout/map-layout-component.jsx
  src/app/layout/map-layout/map-layout.js
  src/app/redux-modules/layers/layers-initial-state.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Show map on full viewport
  src/app/components/cesium/map/map-component.jsx
  src/app/layout/map-layout/map-layout-component.jsx
  src/app/layout/map-layout/map-layout-styles.scss
  src/app/layout/root-layout/root-layout-component.jsx
  src/app/layout/root-layout/root-layout-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Include listeners to move embed globe and toggle layers
  package.json
  public/embed-map.html
  src/app/layout/map-layout/map-layout-actions.js
  src/app/layout/map-layout/map-layout-component.jsx
  src/app/layout/map-layout/map-layout.js
  src/app/redux-modules/layers/layers-initial-state.js
  src/app/redux-modules/layers/layers-thunks.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Include embed map documentation
  docs/embed-map.md
Due: none

Update node version on docker
  Dockerfile
Due: none

Fix dependency to webpack images optim
  Dockerfile
Due: none

Remove console.log
  src/app/components/cesium/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Remove embeding app in all actions
  src/app/pages/global/global-actions.js
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global.js
  src/app/pages/regional/regional-actions.js
  src/app/pages/regional/regional-component.jsx
  src/app/pages/regional/regional-reducers.js
  src/app/pages/regional/regional.js
  src/app/store.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Keeping mapbox cheap
  .env
  Dockerfile
  config/base.js
  config/production.js
  package.json
  src/app/components/cesium/map/map.js
  src/app/pages/map/map-utils.js
  src/app/pages/regional/regional-initial-state/regional-layers.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Debounced actions
  src/app/pages/global/global-component.jsx
  src/app/pages/global/global.js
  src/app/pages/map/map-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Env sample
  .env
  .env.sample
  .gitignore
Due: none

Include readme
  README.md
Due: none

Remove unused util
  src/app/utils/redux.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Mapbox in Jenkins
  Dockerfile
  Jenkinsfile
Due: none

Fix crash and throtle mouse move
  src/app/components/cesium/map/map.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fix regional selection bug
  src/app/pages/regional/regional-actions.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Improve events handler on billboards
  src/app/components/cesium/billboard/billboard.jsx
  src/app/components/sidebar/sidebar-styles.scss
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Fix mapbox token env
  Jenkinsfile
Due: none

Move iframe logic to page component
  src/app/layout/embed-layout/embed-layout-component.jsx
  src/app/layout/embed-layout/embed-layout-styles.scss
  src/app/layout/embed-layout/embed-layout.js
  src/app/pages/map-iframe/map-iframe-actions.js
  src/app/pages/map-iframe/map-iframe-component.jsx
  src/app/pages/map-iframe/map-iframe-styles.scss
  src/app/pages/map-iframe/map-iframe.js
  src/app/router.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss

Update iframe controlled map doc route
  docs/embed-map.md
Due: none

Include grid example component
  src/app/components/cesium/grid/grid.jsx
  src/app/pages/map-iframe/map-iframe-component.jsx
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Update url params on map move
  src/app/components/cesium/map/map.js
  src/app/pages/map-iframe/map-iframe-component.jsx
  src/app/pages/map-iframe/map-iframe.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Include list of available layers
  docs/embed-map.md
Due: none

Make clear how to merge species with type of layer
  docs/embed-map.md
Due: none

make url source of truth for active layers
  src/app/pages/map-iframe/map-iframe-component.jsx
  src/app/pages/map-iframe/map-iframe-thunks.js
  src/app/pages/map-iframe/map-iframe.js
  src/app/redux-modules/layers/layers-actions.js
  src/app/redux-modules/layers/layers-reducers.js
  src/app/redux-modules/layers/layers-thunks.js
  src/app/redux-modules/layers/layers-utils.js
  src/app/router.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

fix: carto layers not showing
  src/app/pages/map-iframe/map-iframe-thunks.js
  src/app/pages/map-iframe/map-iframe.js
  src/app/redux-modules/layers/layers-actions.js
  src/app/redux-modules/layers/layers-reducers.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fix dependencies
  package.json
  public/examples/iframe-controlled-map.html
  src/app/components/cesium/services/carto/carto-actions.js
  src/app/components/slider/README
  src/app/components/slider/slider-component.jsx
  src/app/pages/map-iframe/map-iframe-thunks.js
  yarn.lock
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Fetch datasets and categories
  src/app/layout/root-layout/root-layout-component.jsx
  src/app/reducers.js
  src/app/redux-modules/categories/categories-actions.js
  src/app/redux-modules/categories/categories-reducers.js
  src/app/redux-modules/categories/categories-thunks.js
  src/app/redux-modules/categories/categories.js
  src/app/redux-modules/datasets/datasets-actions.js
  src/app/redux-modules/datasets/datasets-reducers.js
  src/app/redux-modules/datasets/datasets-thunks.js
  src/app/redux-modules/datasets/datasets-utils.js
  src/app/redux-modules/datasets/datasets.js
  src/app/router.js
  src/app/services/carto.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix

Import he-components to use sidebar
  config/base.js
  config/development.js
  config/production.js
  src/app/app.jsx
  src/app/pages/map-iframe/map-iframe-thunks.js
  src/app/pages/root/root-actions.js
  src/app/pages/root/root-component.jsx
  src/app/pages/root/root-selectors.js
  src/app/pages/root/root-styles.scss
  src/app/pages/root/root.js
  src/app/redux-modules/datasets/datasets-thunks.js
Due: prettier --parser flow --write --single-quote --semi false, eslint --ext .js --ext .jsx --fix, stylelint --syntax=scss ./src/**/*.scss
